# Ignora todo lo siguiente, si desean usar las dependencias recuerden bajarlas con "npm install"
# Código gitignore para evitar procesar los directorios de las dependencias
node_modules/*
.env
# Archivos generados automáticamente
.DS_Store
