<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Carga de producto</title>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>

    <header>
      <!-- NAV -->
      <%- include('../partials/nav.ejs') %>
    </header>

    <!-- ESPACIADO DESDE EL TOP DE LA PAGINA -->
    <div class="productAddtop"></div>

    <!-- CONTAINER PRODUCTADD -->
    <div class="productAdd">

      <!-- TITULO -->
      <h1>Agregue su producto</h1>

      <!-- FORMULARIO -->
      <form class="formulario-carga" action="/products/productAdd" method="POST" enctype="multipart/form-data">

        <!-- BLOQUE DE IMAGEN, NOMBRE, PRECIO Y CANTIDAD -->
        <div class="flex-imgPrev-detalle">
          <div class="campo-nombre-precio-cantidad">

            <!-- NOMBRE -->
            <div class="nombre">
              <label for="nombreProducto">Nombre del producto:</label>
              <input id="nombreProducto" type="text" name="nombre" placeholder="Nombre">
            </div>
            
            <div class="precio-descuento">
              <!-- PRECIO -->
              <div class="precio">
                <label for="precio">Precio:</label>
                <input id="precio" type="text" name="precio" placeholder="Precio" value="0">
              </div>

              <!-- DESCUENTO -->
              <div class="descuento">
                <label for="descuento">Descuento:</label>
                <input id="descuento" type="text" name="descuento" placeholder="Descuento" value="0">
              </div>
            </div>
            
            <!-- CANTIDAD -->
            <div class="cantidad">
              <label for="cantidad">Cantidad:</label>
              <input id="cantidad" type="text" name="stock" placeholder="Cantidad" value="0">
            </div>
  
          </div>

          <!-- IMAGEN -->
          <div class="imagenPrev">
            <img src="/images/productos/producto-2.jpg" alt="muestra de producto">
          </div>
        </div>

        

        

        <!-- CATEGORIA -->
        <div class="flex-categoria-imgFile">

          <div class="categoria">
            <label for="categoria">Categoria:</label>
            <select class="select-categoria" name="categoria" id="categoria">
              <option value="cerveza">Cerveza</option>
              <option value="vino">Vino</option>
              <option value="lupulada">Lupulada</option>
              <option value="no lupulada">No Lupulada</option>
            </select>
          </div>

          
        <!-- SUBIR IMAGEN -->
        <div class="imgFile">
          <input type="file" name="imagen">
        </div>

        </div>

        <!-- DESCRIPCION -->
        <textarea class="descripcionDelProducto" name="descripcion" placeholder="Describa el producto"></textarea>
          <div class="flex-botones-publicar">
              <button class="btn-publicar" type="submit" id="publicar" > Publicar
              <!--<button class="btn-publicar" type="submit" , id="publicar" , value="publicar"> Publicar y Agregar otro producto-->
              <button class="btn-publicar btn-reset" type="reset" id="reset" value="reset"> Borrar Todo
          </div>
        
      </form>

      <% if (typeof errors != 'undefined') { %>
        <p style="color: red;">ERROR</p>
        <ul>
            <% for (let i=0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i].msg %>
                </li>
            <% } %>
        </ul>
    <% } %>
    </div>
   
</body>
</html>
