<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Product Admin</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/__products-productsAdmin.css'/>
	<link rel='stylesheet' href='/stylesheets/__footer.css'/>
	<script src="/js/productAdmin.js" type="text/javascript"></script>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<div class="products-catalogo">

			<section class="seccion-ordenar-agregarProducto">
				<div class="ordenamiento">
					<label for="ordenar">Ordenar:</label>
					<select class="select-ordenar" name="ordenar" id="ordenar">
						  <option value="nuevos-productos">Nuevos Productos</option>
						  <option value="mas-vendidos">Mas Vendidos</option>
						  <option value="populares">Populares</option>
						  <option value="especiales">Especiales</option>
					</select>
				</div>
				
				<div class="agregarProducto">
					<button>Agregar Producto</button>
				</div>
			</section>
			
			
			
			<main class="seccion-filtro-muestra-productos">
				<section class="columna-filtro">
					
						<div>
							<a onClick="modificarPerfil()">Cervecerias</a>
							<div class="cerveceriasDropDown" id="modificar">
								<h4>Hola</h4>
								<h4>Chau</h4>
							</div>
						</div>
						
						<h3>Provincia de Origen</h3>
						<h3>Familia</h3>
						<h3>Volumen</h3>
						<h3>Precios</h3>
					
				</section>

				<section class="columna-productos">
					
						<p>Columna der para mostrar productos</p>
					
				</section>
			</main>

		</div>

	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>

</body>
</html>