<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 🍻 - Sobre nosotros</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/footer.css'/>
</head>

<body>
	<header>
		<%- include nav.ejs %>
	</header>
	
		

	<footer>
		<%- include footer.ejs %> 
	</footer>

  </body>
</html>