<!DOCTYPE html>
<html lang="es">
	<head>
		<title> ¿Quienes somos? </title>
		<%- include('./partials/head.ejs') %>
	</head>
<body>
	<header>
		<%- include('./partials/nav.ejs') %>
	</header>
	
		<div class="about-us">
			<div class="seccion-about-us">

			
			<h1>Quiénes Somos</h1>
			<p>Dingo / ˈdɪŋ.ɡoʊ / Nombre cientifico Canis Lupus Dingo: Perro salvaje Australiano, cuyo origen es rastreado a una especie de lobo gris que hace aproximadamente 4,000 anos fue introducido en el continente rojo desde Asia. El Dingo se adapto al continente y hoy es el máximo predador terrestre.</p>
			<p>Dos Dingos / ˈdos ˈdɪŋ.ɡoʊs: "Pasión por el Disfrute": Dos Argentinos introducidos en Australia por casi una década, Los Dingos se adaptaron al continente, convirtiéndose en parte del mismo, se inspiraron con sus sabores, aromas, ingredientes y gente y volvieron a su tierra natal a inspirar y predicar Pasión por el Disfrute a travez de la cerveza.</p>

			<img class="img-about-us" src="/images/about-us/about-us-1.jpg" alt="">

			<div class="titulo-secundario">
				<h2>LOS COMIENZOS</h2>
			</div>
			

			<p>Los Dos Dingos somos Nico y Mati, dos amigos apasionados del disfrute que se conocieron alla por el año 2000 haciendo el curso de ingreso para entrar en la facultad de Ingenieria y desde entonces forjamos una amistad que nos llevo a recorrer el mundo en esa busqueda continua de disfrute.</p>
			<p>Despues de vivir casi 10 años en Australia, hoy vivimos el sueño de crear y compartir sabores y aromas inspirados en nuestras experiencias con todo aquel que pida una Dos Dingos.</p>
			<p>Nuestro camino cervecero arrancó con nuestra llegada a Australia. La industria artesanal australiana esta super desarrollada; es muy facil encontrar distintas variedades de muy alto nivel tanto en locales como en los taprooms de las miles de cervecerias que hay en el pais y casi todos los fines de semana los pasabamos recorriendo distintas breweries y taprooms o probando cervezas de todo el pais</p>
			<p>Como si fuera un plan del destino, Mati empezo a trabajar para Asahi (una de las cervecerias Japonesas mas grandes) y alli dentro de las microcervecerias que eran parte de la misma. Como parte de su entrenamiento dentro de la "Academia Asahi" Mati aprendio a hacer cerveza con capacitaciones en distintas plantas entre Japon, Australia y Nueva Zelanda.</p>
			<p>Despues de varias visitas y muchos litros disfrutados en nuestras breweries preferidas; a principios de 2014 decidimos empezar a cocinar juntos cerveza como hobby y compramos nuestro primer equipo de 20 litros.</p>

			<img class="img-about-us" src="/images/about-us/about-us-2.jpg" alt="">
			<img class="img-about-us" src="/images/about-us/about-us-3.jpg" alt="">
			<p>Fue en éstas ollas que empezamos a diseñar y a cocinar las recetas que hoy en dia se pueden disfrutar en todo el pais como la Pacific Pale Ale, la Sunset Amber Ale o la Aussie IPA.</p>

			<h2>DEL HOBBY AL SUEÑO</h2>
			<p>Luego de una propuesta de compra de una de nuestras recetas, nos dimos cuenta que lo que teniamos no era solo un hobbie, sino que era posible que tal vez podiamos vivir de nuestra pasion!</p>

			<h2>CREANDO DOS DINGOS</h2>
			<p>A fin de 2017, mudamos ambas familias de forma definitiva a Buenos Aires y encontramos la ubicacion perfecta para nuestra "guarida" a metros de la frontera entre San Andres, partido de San Martin y Florida Oeste, partido de Vicente Lopez, en la zona norte de Buenos Aires.</p>
			<p>En los primeros 70 dias del 2018 no tuvimos descanso y las jornadas tenian entre 12 y 14 horas sin importar el dia de la semana. Como siempre pasa, cuando las cosas se hacen con pasión, el cansancio no aparece y llegar al objetivo es lo unico que importa. Finalmente a mediados de marzo 2018, terminamos la fabrica y estabamos listos para la primera receta pase por las nuevas cañerias de los Dingos!</p>

			<img class="img-about-us" src="/images/about-us/about-us-4.jpg" alt="">
			<img class="img-about-us" src="/images/about-us/about-us-5.jpg" alt="">
			<img class="img-about-us" src="/images/about-us/about-us-6.jpg" alt="">

			<img class="img-about-us" src="/images/about-us/about-us-7.jpeg" alt="">
			<p>Desde ese momento, producimos disfrute en formato liquido para todo Argentina y Uruguay!</p>

			<img class="img-about-us" src="/images/about-us/about-us-8.jpg" alt="">
			<p>En mayo de 2019 volvimos a Melbourne, Australia, donde todo comenzó...</p>
			</div>
		</div>

	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>
</html>