<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <img width="400" src="/images/logo.jpg" alt="logo BierClub">

    <h1>BierClub</h1>

    <nav>
      <ul>
        <li><a href="/promociones">Promociones</a></li>
      </ul>
    </nav>
    
  </body>
</html>
