    <title>BierClub - Error 404</title>
    <%- include('./partials/head2.ejs') %>
  </head>

  <header>
    <%- include('./partials/nav.ejs') %>
    <br>
  </header>
  <body>
      <div class="container-error">
          <div class="container-titulo">
            <h1>Error - 404</h1>
            <h3>La pagina que estas buscando no existe o fue eliminada</h3>
          </div>

        <!-- PRODUCTOS RELACIONADOS -->
            <h2 class="titulo-productosRelacionado">Productos que podrían interesarte</h2>
          <%- include('./partials/productosRelacionados.ejs') %>
    </div>
        
</body>
</html>
