<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8431526c8f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>navbar</title>
</head>
<body>
<footer>
    <div class="container-footer">
        <section>

            <div class="art-footer">
                <h2>Contactanos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, facere. Fugiat incidunt quam, reprehenderit facilis, esse harum similique nesciunt vero dignissimos, illum sit labore ullam repudiandae enim! Sint, temporibus aspernatur.</p>
            </div>

            <div class="art-footer">
                <h2>Sobre nosotros</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, non? Officia delectus nesciunt laudantium numquam deserunt quis. Praesentium quidem, facilis expedita suscipit corporis minus, fugiat inventore cupiditate quas aliquam alias.</p>
            </div>

            <div class="art-footer">
               <h2>Donde nos encontramos</h2>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28486.66384756181!2d-65.31286757934447!3d-26.813446221549537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9422433a2ee1bffb%3A0xc5d4083eee0d98b1!2sYerba%20Buena%2C%20Tucum%C3%A1n!5e0!3m2!1ses-419!2sar!4v1602637580344!5m2!1ses-419!2sar" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </section>

        <hr class="hrline">

        <div class="copyright">
            <h4>Copyright BierClub © 2020. Todos los derechos reservados.</h4>
        </div>
    </div>
</footer>

</body>
</html>