<!DOCTYPE html>
<html lang="es">
  <head>
    <title> BierClub </title>
    <%- include('./partials/head.ejs') %>
  </head>
  
  <body>
    
    <!-- NAV -->
    <header>
      <%- include('./partials/nav2.ejs') %>
    </header>
    
    <!-- CONTAINER HOME -->
    <div class="home">
      
      <!-- BANNER PRINCIPAL-->
      <section>
        <div class="banner">
          <img src="/images/home/banner.jpg" alt="banner">
        </div>
      </section>

      <main>
        <!-- NOVEDADES-->
        <div class="titulos">
          <h2>Novedades</h2>
        </div>
          

        <!-- PRODUCTOS-->
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/products/productDetail/1">
              <img src="/images/productos/producto-1.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Super Refreshing IPA - Hybrid IPA - 7% ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$135</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA320">
            <a href="/products/productDetail/2">
              <img src="/images/productos/producto-2.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$160</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA768">
            <a href="/products/productDetail/3">
              <img src="/images/productos/producto-3.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Septic Tank - West Coast IPA (12x355ml)</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$149.99</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1024">
            <a href="/products/productDetail/4">
              <img src="/images/productos/producto-4.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Rippa Sippa (TDH Imperial Aussie IPA) - 8.5 % ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$85</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1200">
            <a href="/products/productDetail/5">
              <img src="/images/productos/producto-5.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Cachorros Inflados (Hazy Session IPA) - 4.5 % ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$99.99</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        
        </section>
      </main>

        <!-- BANNER NOVEDADES-->
        <section>
          <div class="banner-novedades">
            <img class="img-banner" src="/images/home/banner-novedades.jpg" alt="">
          </div>
        </section>


        <!-- MEJORES PRODUCTOS-->
        <section class="nav-MejoresProductos">
          <div class="titulo-mejores-productos">
            <h2>Los Mejores Productos</h2>
          </div>
  
          <!-- NAV MEJORES PRODUCTOS-->
          <ul class="mejores-productos">
            <li> <a href="#">Populares</a></li>
            <li> <a href="#">Nuevos Productos</a> </li>
            <li> <a href="#">Más Vendidos</a> </li>
            <li> <a href="#">Especiales</a> </li>
          </ul>
        </section>
        



        <!-- PRODUCTOS -->
        <main>
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/products/productDetail/1">
              <img src="/images/productos/producto-1.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Super Refreshing IPA - Hybrid IPA - 7% ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$135</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA320">
            <a href="/products/productDetail/2">
              <img src="/images/productos/producto-2.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$160</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA768">
            <a href="/products/productDetail/3">
              <img src="/images/productos/producto-3.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Septic Tank - West Coast IPA (12x355ml)</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$149.99</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1024">
            <a href="/products/productDetail/4">
              <img src="/images/productos/producto-4.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Rippa Sippa (TDH Imperial Aussie IPA) - 8.5 % ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$85</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1200">
            <a href="/products/productDetail/5">
              <img src="/images/productos/producto-5.jpg" alt="">
            </a>
            <h2 class="producto-titulo">Cachorros Inflados (Hazy Session IPA) - 4.5 % ABV x12</h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$99.99</h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>

        </section>
      </main>


        <!-- NEWSLETTER-->
        <section class="newsletter-background">
          <div>
            <h3>Recibí todas las ofertas</h3>
            <p>¿Quieres recibir nuestras ofertas? ¡Regístrate ya mismo y comenzá a disfrutarlas!</p>
              <input class="newsletter" type="email" placeholder="Email">
          </div>
        </section>
        
    </div>

    <!-- FOOTER -->
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    
  </body>
</html>
