<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 游꽅</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav2.css'/>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  </head>

  <body>
    <header>
      <%- include nav2.ejs %>
    </header>
    
    <div class="container-home">
      
      <section>
        <div class="banner">
          <img src="/images/home/banner.jpg" alt="banner">
        </div>
      </section>

      <main>
        <div class="titulos">
          <h2>Novedades</h2>
        </div>

          
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-1.jpg" alt="">
            </a>
            <h4>Producto 1 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-2.jpg" alt="">
            </a>
            <h4>Producto 1 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-3.jpg" alt="">
            </a>
            <h4>Producto 2 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-4.jpg" alt="">
            </a>
            <h4>Producto 3 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-5.jpg" alt="">
            </a>
            <h4>Producto 4 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        
        </section>

          
        
        
        

        <div class="titulos-abajo-producto">
          <h2>Los mejores productos</h2>
        </div>

        <ul class="mejores-productos">
          <li> <a href="#">Populares</a></li>
          <li> <a href="#">Nuevos Productos</a> </li>
          <li> <a href="#">Mas Vendidos</a> </li>
          <li> <a href="#">Especiales</a> </li>
        </ul>

        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-1.jpg" alt="">
            </a>
            <h4>Producto 1 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-2.jpg" alt="">
            </a>
            <h4>Producto 1 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-3.jpg" alt="">
            </a>
            <h4>Producto 2 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-4.jpg" alt="">
            </a>
            <h4>Producto 3 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
          <article class="producto">
            <a href="/productDetail">
              <img src="/images/productos/producto-5.jpg" alt="">
            </a>
            <h4>Producto 4 asd asd asd</h4>
            <h4>$140</h4>
            <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        
        </section>

        <section class="newsletter-background">
          <div>
            <h3>Recib칤 todas las ofertas</h3>
            <p>쯈uieres recibir nuestras ofertas? 춰Registrate ya mismo y comenz치 a disfrutarlas!</p>
            <input class="newsletter" type="email" placeholder="Email">
          </div>
        </section>
      </main>
    </div>

    <footer>
      <%- include footer.ejs %>
    </footer>
    
  </body>
</html>
