<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub 游꽅 - Login</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/styles.css'/>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include nav.ejs %>
	</header>
	
		<!-- CONTAINER LOGIN -->
		<div class="login-register">

			<!-- TITULO -->
			<h1>Ingresa a tu cuenta</h1>
		
			<!-- FORMULARIO -->
			<form class="formulario" action="" method="">
				
			<!-- EMAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email" , id="email" placeholder="Email o Usuario">
			</div>

			<!-- CONTRASE칌A -->
			<div class="campo-input">
				<input class="input-registro" type="password" , id="contrase침a" placeholder="Contrase침a"> 
			</div>
			
			<!-- CONTRASE칌A OLVIDADA -->
			<p class="contrase침a-olvidada"><a href="#">쯆lvidaste tu contrase침a?</a></p>
			
			<!-- BOTON INGRESAR -->
			<div class="campo-input">
				<button class="input-button" type="submit" , id="ingresar" , value="ingresar"> Ingresar</button>
			</div>
			</form>
			
			<!-- REGISTRARSE -->
			<p class="registrate-usuario">쮸un no tenes usuario? <a href="/register">Registrate!</a></p>
			
		</div>

	<!-- FOOTER -->
	<footer>
		<%- include footer.ejs %> 
	</footer>

</body>
</html>