<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub 游꽅 - Login</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<script type="text/javascript" src="/js/speak.js"></script>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/register-login.css'/>
	<link rel='stylesheet' href='/stylesheets/footer.css'/>
</head>

<body>
	<header>
		<%- include nav.ejs %>
	</header>
	
		<div class="container-register">

			<h1>Ingresa a tu cuenta</h1>
			<center>
		
			<form action="" method="">
				
			<div class="campo-input">
				<center>
				<input class="input-registro" type="email" , id="email" placeholder="Email o Usuario">
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="password" , id="contrase침a" placeholder="Contrase침a"> 
				</center>
			</div>
			
			<p class="contrase침a-olvidada"><a href="#">쯆lvidaste tu contrase침a?</a></p>

			<button class="input-button" type="submit" , id="ingresar" , value="ingresar"> Ingresar 
			
			</form>
			</center>
	
			<p class="registrate-usuario">쮸un no tenes usuario? <a href="/register">Registrate!</a></p>
			
		</div>

		<script>
			let texto = "Hola, soy tu amigo el hombre ara침a y has guardado el archivo ;)"

			  const hablar = (texto) => speechSynthesis.
			  speak(new SpeechSynthesisUtterance(texto));
	  
			  hablar(texto);
		  </script>

	<footer>
		<%- include footer.ejs %> 
	</footer>

</body>
</html>