<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>BierClub 游꽅</title>
	<link rel='stylesheet' href='/stylesheets/nav-footer.css' />
	<link rel='stylesheet' href='/stylesheets/register-login.css' />
</head>

<body>
	<header>
		<%- include nav.ejs %>
	</header>
	
		<div class="container-register">

			<h1>Ingresa a tu cuenta</h1>
			<center>
		
			<form action="" method="">
				
			<div class="campo-input">
				<center>
				<input class="input-registro" type="email" , id="email" placeholder="Email o Usuario">
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="password" , id="contrase침a" placeholder="Contrase침a"> 
				</center>
			</div>
			
			<p class="contrase침a-olvidada"><a href="#">쯆lvidaste tu contrase침a?</a></p>

			<button class="input-button" type="submit" , id="ingresar" , value="ingresar"> Ingresar 
			
			</form>
			</center>
	
			<p class="registrate-usuario">쮸un no tenes usuario? <a href="/register">Registrate!</a></p>
			
		</div>

		<footer>
			<%- include footer.ejs %> 
		</footer>

  </body>
</html>