<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 游꽅</title>
    <link rel='stylesheet' href='/stylesheets/nav-footer.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' 
  </head>
<header> <%- include nav.ejs %>  </header>
  <body>
    <div class="container-register"></div> <br> <br> <br> <br> <br>
    <p> <label for="Nombre de usuario"> Nombre de usuario*</label><br>
      <input class="input-login" type="text" , id="usuario"></p><br>

      <p> <label for="Contrase침a">Contrase침a*</label><br>
        <input class="input-login" type="password" , id="Contrase침a"> </p><br>
        
        <center>
          <button class="input-button-login" type="submit" , id="Iniciar sesi칩n" , value="Iniciar sesion"> Iniciar sesion 
    </center>
        <center><br> <br>
    <a href="http://localhost:3000/register"> <button class="input-button-login" type="submit" , id="registrar" , value="registrar"> Registrar </a>
    </center>
  </body>
</html>