<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub - Login</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/styles.css'/>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include('./partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER LOGIN -->
		<div class="login-register">

			<!-- TITULO -->
			<h1>Ingresa a tu Cuenta</h1>
		
			<!-- FORMULARIO -->
			<form class="formulario" action="" method="">
				
			<!-- EMAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email" , id="email" placeholder="Email o Usuario">
			</div>

			<!-- CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" , id="contraseña" placeholder="Contraseña"> 
			</div>
			
			<!-- CONTRASEÑA OLVIDADA -->
			<p class="contraseña-olvidada"><a href="#">¿Olvidaste tu Contraseña?</a></p>
			
			<!-- BOTON INGRESAR -->
			<div class="campo-input">
				<button class="input-button" type="submit" , id="ingresar" , value="ingresar"> Ingresar</button>
			</div>
			</form>
			
			<!-- REGISTRARSE -->
			<p class="registrate-usuario">¿Aún no tenés usuario?<a href="/register">¡Registrate!</a></p>
			
		</div>

	<!-- FOOTER -->
	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>
</html>