<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8431526c8f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>navbar</title>
</head>
<body>
<header>
    <div class="nav-arriba">
        <ul class="navlogin">
            <li><a href="/productos"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
            <li><a href="/promociones"><i class="far fa-user"></i> Cuenta</a></li>
        </ul>    
    </div>
    <div class ="container">
        <div class ="navbar">
            <center>
                <a href="/"><img src="/images/logo2.png" alt="BierClub" class="logo"></a>
                <ul class="navcarrito">
                    <li><a href="/productos"><i class="fas fa-search"></i></a></li>
                    <li><a href="/promociones"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
                <hr>
                <nav>
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/promociones">Promociones</a></li>
                    <li><a href="/envios">Envio</a></li>
                    <li><a href="/quienes_somos">¿Quienes Somos?</a></li>
                </ul>
                </nav>
            </center>
        </div>
    </div> 
</header>

</body>
</html>
