<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <script type="text/javascript" src="/js/speak.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/stylesheets/nav.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8431526c8f.js" crossorigin="anonymous"></script>
    <script src="/js/nav.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div id="navbar" class="nav-backgc">
        <!-- MOBILE -->
        <div class="mobile-hamburguesa-menu" id="hamburguesa-onclick">
            <div class="hamburguesa-margin">
                <div class="hamburguesa-top">
                <a href="/"><img src="/images/logo2.png" alt="BierClub" class="logo"></a>
                <div class="hamburguesa-menu">
                    <a href="#" onclick="hamburguesaCerrar()"><i class="far fa-times-circle"></i></a>
                </div>
                </div><strong>
                <div class="hamburguesa-items">
                    <a href="#" class="hamburguesa-item" onclick="hamburguesaCerrar()">Productos &nbsp<i class="fas fa-angle-down"></i></a>
                    <div>
                        <a href="#" class="dropdown-mobile" id="hamburguesa-dropdown">No lupuladas<small>Estas cervezas son menos amargas.</small></a>
                        <a href="#" class="dropdown-mobile" id="hamburguesa-dropdown">Lupuladas<small>Estas cervezas son mas amargas.</small></a>
                    </div>
                    <a href="#" class="hamburguesa-item">Promociones</a>
                    <a href="#" class="hamburguesa-item">Suscribete</a>
                    <a href="#" class="hamburguesa-item">Envios</a>
                    <a href="#" class="hamburguesa-item">¿Quienes Somos?</a>
                </div></strong>
             </div>
        </div>

        <!-- PC -->
    <div class ="container-nav">
        <div class ="navbar">
            <center>
                <a href="/"><img src="/images/logo2.png" alt="BierClub" class="logo"></a>
                <ul id ="navcarrito" class="navcarrito">
                    <li class="search"><a href="/productos"><i class="fas fa-search"></i></a></li>
                    <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
<!--                     <div class="searchBuscador">
                        <input type="text"></input>
                    </div> -->
                    <span><li class="login-carrito"><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li></span>
                    <li class="btn-hamburguesa"><a href="#" class="hamburguesa-icono" onclick="hamburguesa()"><i class="fas fa-bars"></i></a><li>
                </ul>
                <strong>
                    <ul id ="navlogin" class="navlogin">
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
                    </ul>
                </strong>
                <hr>
                <a href="/"><img src="/images/logo2.png" alt="BierClub" class="logonav" id="logonav"></a>
                <nav>
                    <ul class="barra"><strong>
                        <li class="dropdownBoton"><a href="/productos">Productos</a>
                            <div class="dropdownMenu">
                                <a href="#">
                                    <h3>Lupuladas</h3>
                                    <h6>Lorem ipsum dolor sit amet consectetur.</h6>
                                </a>
                                <a href="#">
                                    <h3>No lupuladas</h3>
                                    <h6>Lorem ipsum dolor sit amet consectetur.</h6>
                                </a>
                            </div>
                        </li>
                        <li><a href="/promociones">Promociones</a></li>
                        <li><a href="/promociones">Suscribete</a></li>
                        <li><a href="/envios">Envio</a></li>
                        <li><a href="/quienes_somos">¿Quienes Somos?</a></li>
                    </ul></strong>
                </nav>
            </center>
        </div>
    </div>
    </div>
</header>

<script>
/*     window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("navbar").style.margin = "-72px 0px 0px 0px";
        document.getElementById("logonav").style.display = "inline-block";
        document.getElementById("navcarrito").style.margin = "32px 0px 0px 0px";
        document.getElementById("navlogin").style.margin = "32px 0px 0px 0px";
      } else {
        document.getElementById("navbar").style.margin = "0px 0px 0px 0px";
        document.getElementById("logonav").style.display = "none";
        document.getElementById("navcarrito").style.margin = "-35px 0px 0px 0px";
        document.getElementById("navlogin").style.margin = "-35px 0px 0px 0px";
      }
    } */
</script>

</body>
</html>
