<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/stylesheets/nav2-footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8431526c8f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>navbar</title>
</head>
<body>
<header>
    <div id="navbar" class="nav-backgc">
    <div class ="container-nav">
        <div class ="navbar">
            <center>
                <a href="/"><img src="/images/logo2.png" alt="BierClub" class="logo"></a>
                <ul id ="navcarrito"class="navcarrito">
                    <li><a href="/productos"><i class="fas fa-search"></i></a></li>
                    <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul><strong>
                <ul id ="navlogin" class="navlogin">
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
                </ul></strong>
                <hr><a href="/"><img src="/images/logo2.png" alt="BierClub" class="logonav" id="logonav"></a>
                <nav>
                <ul class="barra"><strong>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/promociones">Promociones</a></li>
                    <li><a href="/envios">Envio</a></li>
                    <li><a href="/quienes_somos">¿Quienes Somos?</a></li>
                </ul></strong>
                </nav>
            </center>
        </div>
    </div>
    </div>
</header>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("navbar").style.margin = "-72px 0px 0px 0px";
        document.getElementById("navbar").style.background = "#DAA520";
        document.getElementById("logonav").style.display = "inline-block";
        document.getElementById("navcarrito").style.margin = "32px 0px 0px 0px";
        document.getElementById("navlogin").style.margin = "32px 0px 0px 0px";
      } else {
        document.getElementById("navbar").style.margin = "0px 0px 0px 0px";
        document.getElementById("navbar").style.background = "transparent";
        document.getElementById("logonav").style.display = "none";
        document.getElementById("navcarrito").style.margin = "-35px 0px 0px 0px";
        document.getElementById("navlogin").style.margin = "-35px 0px 0px 0px";
      }
    }
    </script>
</body>
</html>
