<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 🍻 - Detalle del producto</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/ProductDetail.css' />
  </head>
  

  <body>

    <!-- NAV -->
    <header>
      <%- include nav.ejs %>
    </header>

    <!-- CONTAINER PRODUCTDETAIL -->
    <div class="productDetail">

      <!-- SECCION DETALLE DEL PRODUCTO/IMAGEN -->
      <section class="seccion-producto">
  
        <!-- IMAGEN -->
        <div class="imagen-producto">
          <img src="/images/productos/detalle.jpg" alt="">
        </div>
  
        <!-- DETALLE -->
        <section class="detalle-producto">

          <!-- TITULO -->
          <div class="titulo-producto">
            <h1>Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h1>
          </div>
  
          <!-- DESCRIPCION -->
          <div class="descripcion-producto">
            <p>Saison de Triomphe rescata el placer del momento. Una cerveza pensada para aquellas personas que valoran su tiempo libre, para quienes disfrutan de los pequeños momentos de la vida. La opción ideal para quienes quieren mimarse.</p>
            <p>La Saison de Triomphe tiene un estilo Honey Beer.</p>
          </div>
  
          <!-- PRECIO NORMAL, DESCONTADO Y DESCUENTO -->
          <div class="fila-precio">
              <h4 class="precio-descontado">$2.000</h4>
              <h4 class="precio-normal">$2.650</h4>
              <p class="descuentos">¡10% OFF comprando 2 o más!</p>
          </div>

          
          
          <!-- CANTIDAD -->
          <div class="cantidad">
            <div class="cantidad-label">
              <label for="cantidad">Cantidad:</label>
            </div>
            <div class="cantidad-input">
              <a href=""><span><i class="fas fa-minus"></i></span></a>
              <input type="text" name="cantidad" placeholder="1">
              <a href=""><span><i class="fas fa-plus"></i></span></a>
            </div>
          </div>
  
          <!-- AGREGAR AL CARRITO -->
          <div class="agregarAlcarrito">
            <button class="btn-producto" type="button"><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
          </div>

          <!-- COMPRAR AHORA -->
          <div class="comprarAhora">
            <button class="btn-comprarAhora" type="button"><i class="fab fa-cc-visa"></i></i>Comprar Ahora</button>
          </div>
 
        </section>
  
      </section>

    </div>
  

    
  
  
    <!-- FOOTER -->
    <footer>
      <%- include footer.ejs %>
    </footer>
  </body>
</html>