<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻 - Carrito</title>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/productCart.css'/>
  </head>
  <header>
    <%- include nav.ejs %>
    <br>
  </header>
  <body>
    <div class="container-carrito">
      <h1 class="titulo">Carrito</h1>
        <div class="producto-carrito">
          <h4 class="estilo-letras-producto">X</h4>
          <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
          <h4 class="estilo-letras-producto">Nombre del producto</h4>
          <h4 class="estilo-letras-producto">$150</h4>
          <h4 class="estilo-letras-producto">- 2 +</h4>
          <h4 class="estilo-letras-producto">$300</h4>
        </div>
          <hr class="hr-carrito">
          <div class="producto-carrito">
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
          </div>
          <hr class="hr-carrito">
          <div class="producto-carrito">
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
          </div>
          <hr class="hr-carrito">
          <div class="producto-carrito">
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
          </div>

          <div class="cupones">
            <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
            <a href=""><strong><p>APLICAR CUPON</p></strong></a>
          </div>

          <div id="recuadro" class="recuadro-total">
            <div class="recuadro-total-chico">
            <h3>Total a pagar</h3>
            <hr class="hr-recuadro">
            <div>
            <h4 class="izquierda-recuadro">SUBTOTAL</h4>
            <h4 class="derecha-recuadro">$1200</h4>
            </div>
            <div>
            <h4 class="izquierda-recuadro envio-recuadro">ENVIO</h4>
              <div class="derecha-recuadro">
            <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
            <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
            <h4>Bascary 440</h4>
            <a href=""><h4 class="color">Cambiar direccion</h4></a>
            </div>
          </div>
          <hr class="hr-recuadro">
          <div>
            <h4 class="izquierda-recuadro">TOTAL</h4>
            <h4 class="derecha-recuadro">$1300</h4>
          </div>
          <a href=""><h4 class="boton-pagar">PROCEDER AL PAGO</h4></a>
          </div>

          <script>
            window.onscroll = function() {scrollFunction()};
        
            function scrollFunction() {
              if (document.body.scrollTop > 210 || document.documentElement.scrollTop > 210) {
                document.getElementById("recuadro").style.position = "absolute";
                document.getElementById("recuadro").style.top = "550px";
              } else {
                document.getElementById("recuadro").style.position = "fixed";
                document.getElementById("recuadro").style.top = "350px";
              }
            }
        </script>

        </div>
        <%- include footer.ejs %>
  </body>
</html>
