<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Carrito</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
  </head>
  <header>
    <%- include nav.ejs %>
    <br>
  </header>
  <body>

    <!-- CONTAINER CARRITO-->
    <div class="container-carrito">

      <!-- TITULO -->
      <h1 class="titulo">Carrito</h1>

      <!-- SECCION PRODUCTOS DEL CARRITO Y RECUADRO -->
      <div class="productos-carrito">

        <!-- SECCION PRODUCTOS CARRITO-->
        <div class="productos">


          <!-- SECCION PRODUCTOS FILA 1 -->
          <div class="producto-carrito">

            <!-- PC - FILA DE IMG Y PRECIO -->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Septic Tank - West Coast IPA</h4>
            <h4 class="estilo-letras-producto">$149.99</h4>
            <h4 class="estilo-letras-producto"><a href="#" class="sumar-restar-cantidad">-</a> 2 <a href="#" class="sumar-restar-cantidad">+</a></h4>
            <h4 class="estilo-letras-producto">$299.98</h4>

            <!------- MOBILE ------->
            <div class="mobile-letras-producto texto-centrado-producto">
              <h4 class="">Septic Tank - West Coast IPA</h4>
            </div>

            <!------- PRECIO ------->
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$149.99</h4>
            </div>

            <!------- CANTIDAD ------->
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 2 +</h4>
            </div>

            <!------- SUBTOTAL ------->
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$299.98</h4>
            </div>
          </div>

        
          <!-- LINEA -->
          <hr class="hr-carrito">


          <!-- SECCION PRODUCTOS FILA 2 -->
          <div class="producto-carrito">

            <!-- PC - FILA DE IMG Y PRECIO -->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-1.jpg" alt="">
            <h4 class="estilo-letras-producto">Super Refreshing IPA - Hybrid IPA</h4>
            <h4 class="estilo-letras-producto">$135</h4>
            <h4 class="estilo-letras-producto"><a href="#" class="sumar-restar-cantidad">-</a> 3 <a href="#" class="sumar-restar-cantidad">+</a></h4>
            <h4 class="estilo-letras-producto">$400</h4>

            <!------- MOBILE ------->
            <!------- TITULO ------->
            <div class="mobile-letras-producto texto-centrado-producto">
              <h4 class="">Super Refreshing IPA - Hybrid IPA</h4>
            </div>

            <!------- PRECIO ------->
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$135</h4>
            </div>

            <!------- CANTIDAD ------->
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 3 +</h4>
            </div>

            <!------- SUBTOTAL ------->
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$400</h4>
            </div>
          </div>


          <!-- lINEA -->
          <hr class="hr-carrito">


          <!-- SECCION PRODUCTOS FILA 3 -->
          <div class="producto-carrito">
            
            <!-- PC - FILA DE IMG Y PRECIO -->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-2.jpg" alt="">
            <h4 class="estilo-letras-producto">Saison de Triomphe - Hoppy Saison</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto"><a href="#" class="sumar-restar-cantidad">-</a> 2 <a href="#" class="sumar-restar-cantidad">+</a></h4>
            <h4 class="estilo-letras-producto">$300</h4>

            <!------- MOBILE ------->
            <!------- TITULO ------->
            <div class="mobile-letras-producto texto-centrado-producto">
              <h4 class="">Saison de Triomphe - Hoppy Saison</h4>
            </div>

            <!------- PRECIO ------->
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$160</h4>
            </div>

            <!------- CANTIDAD ------->
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 1 +</h4>
            </div>

            <!------- SUBTOTAL ------->
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$160</h4>
            </div>
          </div>


          <!-- LINEA -->
          <hr class="hr-carrito">


          <!-- SECCION PRODUCTOS FILA 4 -->
          <div class="producto-carrito">

            <!-- PC - FILA DE IMG Y PRECIO -->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-4.jpg" alt="">
            <h4 class="estilo-letras-producto">Rippa Sippa (TDH Imperial Aussie IPA)</h4>
            <h4 class="estilo-letras-producto">$85</h4>
            <h4 class="estilo-letras-producto"><a href="#" class="sumar-restar-cantidad">-</a> 10 <a href="#" class="sumar-restar-cantidad">+</a></h4>
            <h4 class="estilo-letras-producto">$850</h4>

            <!------- MOBILE ------->
            <!------- TITULO ------->
            <div class="mobile-letras-producto texto-centrado-producto">
              <h4 class="">Rippa Sippa (TDH Imperial Aussie IPA)</h4>
            </div>

            <!------- PRECIO ------->
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$85</h4>
            </div>

            <!------- CANTIDAD ------->
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 10 +</h4>
            </div>

            <!------- SUBTOTAL ------->
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$850</h4>
            </div>
          </div>
        </div>



        <!----------- RECUADRO TOTAL ----------->
          <div id="recuadro" class="recuadro-total">

            <!-- RECUADRO TOTAL - CON MARGEN -->
            <div class="recuadro-total-chico">

              <!-- TITULO -->
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">

              <!-- SUBTOTAL -->
              <div class="recuadro-carrito">
                <h4>SUBTOTAL</h4>
                <h4>$1849,98</h4>
              </div>

              <!--------- ENVIO --------->
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>

                <!-- RETIRO -->
                <div>
                  <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
                  <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
                </div>
              </div>

              <!-- DIRECCION -->
              <div class="recuadro-carrito">
                <a href=""><h4 class="btn-cambiar-direccion direccion-margin">Cambiar direccion</h4></a>
                <h4 class="direccion-margin">Bascary 440</h4>
              </div>

              <!-- LINEA DIVISORA -->
              <hr class="hr-recuadro">

              <!-- TOTAL -->
              <div class="recuadro-carrito">
                <h4>TOTAL</h4>
                <h4>$2000</h4>
              </div>

              <!-- BOTON PAGO -->
              <a href=""><h4 class="boton-pagar">PROCEDER AL PAGO</h4></a>
            </div>

          </div>

        </div>


        <!-- SECCION CUPONES -->
        <div class="cupones">
          <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
          <a href=""><strong><p>APLICAR CUPON</p></strong></a>
        </div>


        <!-- PRODUCTOS RELACIONADOS -->
        <div>
          <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
        </div>

        <!-- PRODUCTOS -->
        <section class="productos">

          <!-- BOTON-IZQUIERDA -->
          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>



          <!-------- PRODUCTO 1 - COMIENZO -------->
          <article class="producto">

            <!-- IMAGEN -->
            <a href="/productDetail">
              <img src="/images/productos/producto-1.jpg" alt="">
            </a>

            <!-- TITULO -->
            <h2 class="producto-titulo">Super Refreshing IPA - Hybrid IPA - 7% ABV x12</h2>

            <!-- PRECIO -->
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$135</h4>
              </div>

              <!-- STOCK -->
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>

            <!-- AÑADIR AL CARRITO - BUTTON -->
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>



          <!-------- PRODUCTO 2 - COMIENZO -------->
          <article class="producto resolucionMenorA320">

            <!-- IMAGEN -->
            <a href="/productDetail">
              <img src="/images/productos/producto-2.jpg" alt="">
            </a>

            <!-- TITULO -->
            <h2 class="producto-titulo">Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h2>

            <!-- PRECIO -->
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$160</h4>
              </div>

              <!-- STOCK -->
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>

            <!-- AÑADIR AL CARRITO - BUTTON -->
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>



          <!-------- PRODUCTO 2 - COMIENZO -------->
          <article class="producto resolucionMenorA768">

            <!-- IMAGEN -->
            <a href="/productDetail">
              <img src="/images/productos/producto-3.jpg" alt="">
            </a>

            <!-- TITULO -->
            <h2 class="producto-titulo">Septic Tank - West Coast IPA (12x355ml)</h2>

            <!-- PRECIO -->
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$149.99</h4>
              </div>

              <!-- STOCK -->
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>

            <!-- AÑADIR AL CARRITO - BUTTON -->
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>



          <!-------- PRODUCTO 3 - COMIENZO -------->
          <article class="producto resolucionMenorA1024">

            <!-- IMAGEN -->
            <a href="/productDetail">
              <img src="/images/productos/producto-4.jpg" alt="">
            </a>

            <!-- TITULO -->
            <h2 class="producto-titulo">Rippa Sippa (TDH Imperial Aussie IPA) - 8.5 % ABV x12</h2>

            <!-- PRECIO -->
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$85</h4>
              </div>

              <!-- STOCK -->
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>

            <!-- AÑADIR AL CARRITO - BUTTON -->
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>


          
          <!-------- PRODUCTO 4 - COMIENZO -------->
          <article class="producto resolucionMenorA1200">

            <!-- IMAGEN -->
            <a href="/productDetail">
              <img src="/images/productos/producto-5.jpg" alt="">
            </a>

            <!-- TITULO -->
            <h2 class="producto-titulo">Cachorros Inflados (Hazy Session IPA) - 4.5 % ABV x12</h2>

            <!-- PRECIO -->
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$99.99</h4>
              </div>

              <!-- STOCK -->
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>

            <!-- AÑADIR AL CARRITO - BUTTON -->
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
        
          <!-- BOTON-DERECHA -->
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        </section>



        <!-------- FOOTER --------->
    <footer>
        <%- include footer.ejs %>
    </footer>
        
</body>
</html>
