<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻 - detalle del producto</title>
    <link rel='stylesheet' href='/stylesheets/nav2-footer.css' />
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>
  <header>  <%- include nav2.ejs %> </header>

  <body>
    <div class="container-product-detail"> </div>
<h2> Nombre del producto</h2>
<h4> Caracteristicas del producto </h4>
<img href="/images/productos/producto-3.jpg" alt="cerveza BierClub ">
<center>
  <button class="input-button-comprar" type="submit" , id="comprar" , value="comprar"> Comprar 
</center>
<center><br> <br>
  <button class="input-button-carrito" type="submit" , id="carrito" , value="carrito"> Agregar al carrito 
</center>
    
  </body>
</html>