<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻 - detalle del producto</title>
    <link rel='stylesheet' href='/stylesheets/nav2-footer.css' />
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>
  <header>  <%- include nav2.ejs %> </header>

  <body>
<h2> Nombre del producto</h2>
<h4> Caracteristicas del producto </h4>
<img href="../public/producto/logo2.png"> 
    
  </body>
</html>