<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻 - detalle del producto</title>
    <link rel='stylesheet' href='/stylesheets/nav2-footer.css' />
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>
  <header>  <%- include nav2.ejs %> </header>

  <body>
    <div class="container-product-detail"> </div><br>
    <img src="/images/productos/producto-1.jpg" alt="cerveza BierClub ">
<h2> Nombre del producto</h2><br>
<h4> Caracteristicas del producto </h4>
<<<<<<< HEAD

=======
<img href="/images/productos/producto-3.jpg" alt="cerveza BierClub ">
>>>>>>> 3f3f3ad6c418e86ffdc3a3e287a01c98259cfb4c
<center>
  <button class="input-button-detail" type="submit" , id="comprar" , value="comprar"> Comprar 
</center>
<center><br> <br>
  <button class="input-button-detail" type="submit" , id="carrito" , value="carrito"> Agregar al carrito 
</center>
    
  </body>
</html>