<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 游꽅 - Detalle del producto</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/__ProductDetail.css' />
  </head>
  

  <body>

    <header>
      <%- include nav.ejs %>
    </header>

    <div class="container-productDetail">
      <section class="detalle-producto">
  
        <div class="imagen">
          <img src="/images/productos/detalle.jpg" alt="">
        </div>
  
        <section class="detalle">
          <div class="titulo">
            <h1>Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h1>
          </div>
  
          <div class="descripcion">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum obcaecati, nobis repudiandae commodi aut, provident quasi quam, iste assumenda sapiente hic expedita rerum ab nostrum officia delectus quibusdam. Labore.</p>
          </div>
  
          <div class="precio">
            <h4>$2.650</h4>
          </div>
  
          <div class="descuento">
            <p>춰10% OFF comprando 2 o m치s!</p>
          </div>

          <div class="carrito">
            <button class="btn-producto" type="button">Agregar al carrito</button>
          </div>
  
          <div class="cantidad">
            <a href=""><span><i class="fas fa-minus"></i></span></a>
            <input type="text" placeholder="1">
            <a href=""><span><i class="fas fa-plus"></i></span></a>
          </div>

          <div class="boton-cp">
            <button class="btn-producto" type="button"><i class="fas fa-truck"></i> Cambiar CP</button>
            <p>Entregas para el CP: 1875</p>
          </div>
 
        </section>
  
      </section>
    </div>
  
      <div class="product-relacionado">
        <h2>Productos Relacionados</h2>
      </div>

      <section class="productos">

        <div class="btnAnt">
          <a href="#">
            <div class="button-pass">
              <i class="fas fa-chevron-circle-left"></i>
            </div>
          </a>
        </div>
      
        <article class="producto">
          <a href="/productDetail">
            <img src="/images/productos/producto-1.jpg" alt="">
          </a>
          <h2 class="producto-titulo">Super Refreshing IPA - Hybrid IPA - 7% ABV x12</h2>
          <div class="precio-stock">
            <div>
              <h4 class="etiqueta-precio">$135</h4>
            </div>
            <div>
              <h5 class="etiqueta-stock">Stock Disponible</h5>
            </div>
          </div>
          <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
        </article>

        <article class="producto resolucionMenorA320">
          <a href="/productDetail">
            <img src="/images/productos/producto-2.jpg" alt="">
          </a>
          <h2 class="producto-titulo">Saison de Triomphe - Hoppy Saison (ABV 5.6% - 12x355ml)</h2>
          <div class="precio-stock">
            <div>
              <h4 class="etiqueta-precio">$160</h4>
            </div>
            <div>
              <h5 class="etiqueta-stock">Stock Disponible</h5>
            </div>
          </div>
          <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
        </article>

        <article class="producto resolucionMenorA768">
          <a href="/productDetail">
            <img src="/images/productos/producto-3.jpg" alt="">
          </a>
          <h2 class="producto-titulo">Septic Tank - West Coast IPA (12x355ml)</h2>
          <div class="precio-stock">
            <div>
              <h4 class="etiqueta-precio">$149.99</h4>
            </div>
            <div>
              <h5 class="etiqueta-stock">Stock Disponible</h5>
            </div>
          </div>
          <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
        </article>

        <article class="producto resolucionMenorA1024">
          <a href="/productDetail">
            <img src="/images/productos/producto-4.jpg" alt="">
          </a>
          <h2 class="producto-titulo">Rippa Sippa (TDH Imperial Aussie IPA) - 8.5 % ABV x12</h2>
          <div class="precio-stock">
            <div>
              <h4 class="etiqueta-precio">$85</h4>
            </div>
            <div>
              <h5 class="etiqueta-stock">Stock Disponible</h5>
            </div>
          </div>
          <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
        </article>

        <article class="producto resolucionMenorA1200">
          <a href="/productDetail">
            <img src="/images/productos/producto-5.jpg" alt="">
          </a>
          <h2 class="producto-titulo">Cachorros Inflados (Hazy Session IPA) - 4.5 % ABV x12</h2>
          <div class="precio-stock">
            <div>
              <h4 class="etiqueta-precio">$99.99</h4>
            </div>
            <div>
              <h5 class="etiqueta-stock">Stock Disponible</h5>
            </div>
          </div>
          <button class="btn-producto hoverproducto" type="button">A침adir al Carrito</button>
        </article>
      
        <div class="btnSig">
          <a href="#">
            <div class="button-pass">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
          </a>
        </div>
      
      </section>
  
  
  
    <footer>
      <%- include footer.ejs %>
    </footer>
  </body>
</html>