<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 🍻 - Carrito</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
  </head>
  <header>
    <%- include nav.ejs %>
    <br>
  </header>
  <body>
    <div class="container-carrito">
      <h1 class="titulo">Carrito</h1>
      <div class="productos-carrito">
        <div class="productos">

          <!--==========================================================================
          PRODUCTOS
          ========================================================================== -->

          <div class="producto-carrito">
            <!------- PC ------->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
            <!------- MOBILE ------->
            <div class="mobile-letras-producto">
              <h4 class="">Producto:</h4>
              <h4 class="">Nombre del producto</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$150</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 2 +</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$300</h4>
            </div>
          </div>

          <hr class="hr-carrito">

          <div class="producto-carrito">
            <!------- PC ------->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
            <!------- MOBILE ------->
            <div class="mobile-letras-producto">
              <h4 class="">Producto:</h4>
              <h4 class="">Nombre del producto</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$150</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 2 +</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$300</h4>
            </div>
          </div>

          <hr class="hr-carrito">

          <div class="producto-carrito">
            <!------- PC ------->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
            <!------- MOBILE ------->
            <div class="mobile-letras-producto">
              <h4 class="">Producto:</h4>
              <h4 class="">Nombre del producto</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$150</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 2 +</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$300</h4>
            </div>
          </div>

          <hr class="hr-carrito">

          <div class="producto-carrito">
            <!------- PC ------->
            <h4 class="estilo-letras-producto">X</h4>
            <img class="producto-imagen-carrito" src="/images/productos/producto-3.jpg" alt="">
            <h4 class="estilo-letras-producto">Nombre del producto</h4>
            <h4 class="estilo-letras-producto">$150</h4>
            <h4 class="estilo-letras-producto">- 2 +</h4>
            <h4 class="estilo-letras-producto">$300</h4>
            <!------- MOBILE ------->
            <div class="mobile-letras-producto">
              <h4 class="">Producto:</h4>
              <h4 class="">Nombre del producto</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Precio:</h4>
              <h4 class="">$150</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">Cantidad:</h4>
              <h4 class="">- 2 +</h4>
            </div>
            <div class="mobile-letras-producto">
              <h4 class="">SUBTOTAL:</h4>
              <h4 class="">$300</h4>
            </div>
          </div>
        </div>

          <!--==========================================================================
          RECUADRO-TOTAL
          ========================================================================== -->
          <div id="recuadro" class="recuadro-total">
            <div class="recuadro-total-chico">
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">
              <div class="recuadro-carrito">
                <h4>SUBTOTAL</h4>
                <h4>$1200</h4>
              </div>
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>
                <div>
                  <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
                  <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
                  <h4>Bascary 440</h4>
                  <a href=""><h4 class="color">Cambiar direccion</h4></a>
                </div>
              </div>
              <hr class="hr-recuadro">
              <div class="recuadro-carrito">
                <h4>TOTAL</h4>
                <h4>$1300</h4>
              </div>
              <a href=""><h4 class="boton-pagar">PROCEDER AL PAGO</h4></a>
            </div>
          </div>
        </div>
        <div class="cupones">
          <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
          <a href=""><strong><p>APLICAR CUPON</p></strong></a>
        </div>
<!--           <script>
            function scrollFunction() {
              if (document.body.scrollTop > 310 || document.documentElement.scrollTop > 310) {
                document.getElementById("recuadro").style.position = "absolute";
                document.getElementById("recuadro").style.top = "500px";
              } else {
                document.getElementById("recuadro").style.position = "fixed";
                document.getElementById("recuadro").style.top = "250px";
              }
            }
        </script> -->


    <footer>
        <%- include footer.ejs %>
    </footer>
        
</body>
</html>
