<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub 🍻 - Carga de producto</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
  </head>

  <body>

    <header>
      <%- include nav.ejs %>
    </header>
    <div class="productAddtop"></div>
    <div class="productAdd">

      <h1>Agregue su producto</h1>

      <form class="formulario-carga" action="" method="">

        <div class="flex-imgPrev-detalle">
          <div class="campo-nombre-precio-cantidad">

            <div class="nombre">
              <label for="nombreProducto">Nombre del producto:</label>
              <input id="nombreProducto" type="text" placeholder="Nombre">
            </div>
            
            <div class="precio">
              <label for="precio">Precio:</label>
              <input id="precio" type="text" placeholder="Precio">
            </div>
            
            <div class="cantidad">
              <label for="cantidad">Cantidad:</label>
              <input id="cantidad" type="text" placeholder="Cantidad">
            </div>
  
          </div>

          <div class="imagenPrev">
            <img src="/images/productos/producto-1.jpg" alt="muestra de producto">
          </div>
        </div>

        

        

        
        <div class="flex-categoria-imgFile">

          <div class="categoria">
            <label for="categoria">Categoria:</label>
            <select class="select-categoria" name="categoria" id="categoria">
              <option value="cerveza">Cerveza</option>
              <option value="vino">Vino</option>
              <option value="licor">Licor</option>
              <option value="awa">Awa</option>
              <option value="pcGaymer">PC Gaymer</option>
            </select>
          </div>

          

        <div class="imgFile">
          <input id="imagen" type="file" size="60">
        </div>

        </div>

        <textarea placeholder="Descripción del articulo" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>

          <div class="flex-botones-publicar">
              <button class="btn-publicar" type="submit" , id="publicar" , value="publicar"> Publicar
              <button class="btn-publicar" type="submit" , id="publicar" , value="publicar"> Publicar y Agregar otro producto
              <button class="btn-publicar btn-reset" type="reset" , id="reset" , value="reset"> Borrar Todo
          </div>
        
      </form>
    </div>
   
</body>
</html>
