<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BierClub 🍻 - Promociones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"><img src="/images/logo.jpeg" alt="logo BierClub"></a>
    <h1>PROMOCIONES</h1>
    <h2>ESTA ES LA PAG DE PROMOCIONES, apreta en la imagen para volver al home</h2>
    
  </body>
</html>