<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>BierClub 游꽅</title>
	<link rel='stylesheet' href='/stylesheets/nav-footer.css' />
	<link rel='stylesheet' href='/stylesheets/register-login.css' />
	
</head>

<body>
	<header>
		<%- include nav.ejs %>
	</header>
	
		<div class="container-register">

			<h1>Registrate con tu direcci칩n mail</h1>
			<center>
		
			<form action="">
				
			<div style="text-align: center;" class="campo-input">
				<center>
				<input class="input-registro" type="text" , id="nombre" placeholder="Nombre"> 
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="text" , id="usuario" placeholder="Nombre de usuario">
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="email" , id="Email" placeholder="Email">
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="password" , id="Contrase침a" placeholder="Contrase침a"> 
				</center>
			</div>

			<div class="campo-input">
				<center>
				<input class="input-registro" type="password" , id=" confirmarContrase침a" placeholder="Confirmar contrase침a"> 
				</center>
			</div>

			<div class="terminos">
				<input type="checkbox" id="terminos-condiciones" name="termino-condiciones" value="terminos">
				<label for="terminos-condiciones">Acepto los <a href="#">T칠rminos y Condiciones</a> de BierClub </label>
			</div>

			<button class="input-button" type="submit" , id="registrar" , value="registrar"> Registrarse
			
			</form>
			</center>

			<p class="iniciar-sesion">쯏a sos cliente? <a href="/login">Inicia Sesi칩n</a></p>
		</div>

		<footer>
			<%- include footer.ejs %> 
		</footer>

  </body>
</html>