<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>BierClub 游꽅</title>
	<link rel='stylesheet' href='/stylesheets/nav2-footer.css' />
	<link rel='stylesheet' href='/stylesheets/register.css' />
</head>

<body>
	<%- include nav2.ejs %>
		<div class="container-register">
			<p> <label for="Nombre"> Nombre*</label> <br>
				<input class="input-registro" type="text" , id="nombre"> </p><br>

			<p> <label for="Nombre de usuario"> Nombre de usuario*</label><br>
				<input class="input-registro" type="text" , id="usuario"></p><br>
			<p> <label for="Email">Email*</label> <br>
				<input class="input-registro" type="email" , id="Email"> </p> <br>

			<p> <label for="Contrase침a">Contrase침a*</label><br>
				<input class="input-registro" type="password" , id="Contrase침a"> </p><br>

			<p> <label for=" Confirmar Contrase침a">Confirmar contrase침a* </label> <br>
				<input class="input-registro" type="password" , id=" Confirmar Contrase침a"> </p><br>
			<center>
				<button class="input-button" type="submit" , id="registrar" , value="registrar"> Registrar 
  </center>
</div>
<%- include footer.ejs %> 
  </body>
</html>