/* ==========================================================================
   RESET - GENERAL
   ========================================================================== */
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.home {
    background-color: rgb(228, 228, 228);
}

/* ==========================================================================
   BANNER - CARRUSEL - SLICE
   ========================================================================== */

.home section div.banner img {
    display: block;
    width: 100%;
}

/* ==========================================================================
   TITULO - NOVEDADES
   ========================================================================== */

.home main div.titulos {
    text-align: center;
    margin-top: 20px;
}

/* ==========================================================================
   BLOQUE - PRODUCTOS
   ========================================================================== */

.home main section.productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home main section.productos article.producto {
    width: 22%;
    background-color: white;
    text-align: center;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(163, 163, 163, 0.295);
    margin: 1% 0.5%;
    transition: 0.3s;
}

.home main section.productos div.btnAnt {
    align-self: center;
    margin-left: 1%;
    display: inline-block;
}

.home main section.productos div.btnSig {
    align-self: center;
    margin-right: 1%;
    display: inline-block;
}

.home main section.productos article.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.home main section.productos article.producto button.hoverproducto{
    margin: 0;
    opacity: 0;
    transition: 0.4s;
}

.home main section.productos article.producto:hover button.hoverproducto{
    opacity: 1;
}

.home main section.productos article.producto:hover{
    margin-bottom: 3px;
}

.home main section.productos article.producto h4.etiqueta-precio {
    margin-bottom: 0;
}

.home main section.productos article.producto button.btn-producto {
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-bottom: 2px;
}

.home main section.productos div.btnAnt i.fa-chevron-circle-left , 
.home main section.productos div.btnSig i.fa-chevron-circle-right {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: #DAA520;
    font-size: 45px;
}

.home main section.productos div.btnAnt i.fa-chevron-circle-left:hover ,
.home main section.productos div.btnSig i.fa-chevron-circle-right:hover {
    background-color: black;    
    color: #ffd56cd7;
}



/* ==========================================================================
   NAV- MEJORES PRODUCTOS
   ========================================================================== */

.home main div.titulo-mejores-productos{
    text-align: center;
    margin-top: 60px;
}

.home main ul.mejores-productos {
    text-align: center;
}

.home main ul.mejores-productos li a {
    text-decoration: none;
    background-color: #DAA520;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    display: block;
}

.home main ul.mejores-productos li a:hover {
    background-color: #8B4513;
    color: white;
}

.home main ul.mejores-productos li {
    border: black;
    display: inline-block;
    padding-right: 1%;
    width: 13%;
}

/* ==========================================================================
   NEWSLETTER
   ========================================================================== */
.home main section.newsletter-background {
    margin-top: 100px;
    padding: 20px 0px;
    background-color: black;
    color: white;
    text-align: center;
}

.home main section.newsletter-background input.newsletter {
    margin: 0.5% 0;
    width: 49%;
    border: 0;
    border-radius: 20px;
    padding: 10px 2px;
    text-align: center;
}

.home main section.newsletter-background input.newsletter::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
}





/* ==========================================================================
   RESOLUCION: 1200 a 1400
   ========================================================================== */
@media (min-width: 1200px) and (max-width: 1400px) {
    .home main section.productos article.producto.resolucionMenorA1200 {
        display: none;
        margin: 1% 5px;
    }

    .home main ul.mejores-productos li {
        padding-right: 1%;
        width: 16%;
    }

    .home main section.newsletter-background input.newsletter {
        width: 70%;
    }
  
  }


/* ==========================================================================
   RESOLUCION: 1024 a 1200
   ========================================================================== */
@media (min-width: 1024px) and (max-width: 1200px) {
    .home main section.productos article.producto.resolucionMenorA1200 {
        display: none;
        margin: 1% 5px;
    }

    .home main ul.mejores-productos li {
        padding-left: 0;
        width: 20%;
    }

    .home main section.newsletter-background input.newsletter {
        width: 70%;
    }
  
  }

  
/* ==========================================================================
   RESOLUCION: 768 a 1023
   ========================================================================== */
  @media (min-width: 768px) and (max-width: 1023px) {
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024 {
        display: none;
    }

    .home main section.productos article.producto {
        width: 30%;
        margin: 1% 5px;
        display: inline-block;
    }

    .home main ul.mejores-productos {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0;
    }

    .home main ul.mejores-productos li {
        width: 40%;
        margin-top: 2%;
    }

    .home main section.newsletter-background input.newsletter {
        width: 70%;
    }
  }
  
/* ==========================================================================
   RESOLUCION: 480 a 768
   ========================================================================== */
  @media (min-width: 480px) and (max-width: 768px) {
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024,
    .home main section.productos article.producto.resolucionMenorA768 {
        display: none;
    }

    .home main section.productos article.producto {
        margin: 0% 5px;
        width: 45%;
        display: inline-block;
    }

    .home main section.productos article.producto:hover{
        margin-bottom: 0px;
    }

    .producto button.btn-producto {
        margin-bottom: 2%;
    }

    .home main ul.mejores-productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        padding-top: 15px;
    }

    .home main ul.mejores-productos li{
        width: 75%;
        margin-top: 3%;
        padding: 0;
    }

    .home main ul.mejores-productos a {
        display:block;
    }

    .home main section.newsletter-background input.newsletter {
        width: 70%;
    }
  }
  

/* ==========================================================================
   RESOLUCION: 480 hacia abajo
   ========================================================================== */
  @media (max-width: 480px) {
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024,
    .home main section.productos article.producto.resolucionMenorA768,
    .home main section.productos article.producto.resolucionMenorA320 {
        display: none;
    }

    .home main section.productos article.producto {
        margin: 0% 5px;
        width: 75%;
        display: inline-block;
    }

    .home main section.productos article.producto:hover{
        margin-bottom: 0px;
    }

    .home main section.productos article.producto button.btn-producto {
        margin-bottom: 2%;
    }

    .home main ul.mejores-productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    .home main ul.mejores-productos li{
        width: 75%;
        margin-top: 3%;
        padding: 0;
    }

    .home main ul.mejores-productos a {
        display:block;
    }

    .home main section.newsletter-background input.newsletter {
        width: 80%;
    }
  }
