/* ==========================================================================
   BANNER - CARRUSEL - SLICE
   ========================================================================== */
.home section div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home section div.banner img {
    display: block;
    width: 100%;
}

/* ==========================================================================
   TITULO - NOVEDADES
   ========================================================================== */
.home main div.titulos {
    text-align: center;
    margin-top: 20px;
}

/* ==========================================================================
   BLOQUE - PRODUCTOS
   ========================================================================== */
.home main section.productos{
    /* Display & Box Model */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home main section.productos article.producto {
    /* Display & Box Model */
    width: 22%;
    margin: 1% 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    /* Otras */
    background-color: white;
    text-align: center;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(163, 163, 163, 0.295);
    transition: 0.3s;
}

.home main section.productos div.btnAnt {
    align-self: center;
    margin-left: 1%;
    display: inline-block;
}

.home main section.productos div.btnSig {
    align-self: center;
    margin-right: 1%;
    display: inline-block;
}

.home main section.productos article.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

/* ==========================================================================
   PRODUCTO - PRECIO -STOCK
   ========================================================================== */
.home main section.productos article.producto h2.producto-titulo {
    font-size: large;
    margin-right: 3%;
    margin-left: 3%;
}

.home main section.productos article.producto div.precio-stock {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.home main section.productos article.producto div.precio-stock div h4.etiqueta-precio {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.home main section.productos article.producto div.precio-stock div h5.etiqueta-stock {
    float: right;
    color: rgb(1, 122, 1);
    margin-top: 0;
    margin-bottom: 0;
}

/* ==========================================================================
   PRODUCTO - BUTTON AÑADIR AL CARRITO
   ========================================================================== */
.home main section.productos article.producto button.btn-producto {
    /* Display & Box Model */
    padding: 10px;
    width: 80%;
    margin-bottom: 3%;

    /* Otras */
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
}

.home main section.productos article.producto button.hoverproducto{
    opacity: 0;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 4%;
    align-self: center;
    transition: 0.2s;
}

.home main section.productos article.producto:hover button.hoverproducto{
    opacity: 1;
    margin-bottom: 4%;
}

/* ==========================================================================
   PRODUCTO - BUTTON SIGUIENTE/PREVIO
   ========================================================================== */

.home main section.productos article.producto button.btn-producto i.fa-plus {
    color: #DAA520;
}

.home main section.productos div.btnAnt i.fa-chevron-circle-left , 
.home main section.productos div.btnSig i.fa-chevron-circle-right {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: #DAA520;
    font-size: 45px;
}

.home main section.productos div.btnAnt i.fa-chevron-circle-left:hover ,
.home main section.productos div.btnSig i.fa-chevron-circle-right:hover {
    background-color: rgb(0, 0, 0);    
    color: #ffd56cd7;
}


/* ==========================================================================
   BANNER - NOVEDADES
   ========================================================================== */
.home section div.banner-novedades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home section div.banner-novedades img.img-banner {
    margin-top: 2%;
    width: 90%;
}

/* ==========================================================================
   NAV- MEJORES PRODUCTOS
   ========================================================================== */
.home section.nav-MejoresProductos div.titulo-mejores-productos{
    text-align: center;
    margin-top: 60px;
}

.home section.nav-MejoresProductos ul.mejores-productos {
    text-align: center;
}

.home section.nav-MejoresProductos ul.mejores-productos li a {
    /* Display & Box Model */
    padding: 5px 15px;
    display: block;

    /* Otras */
    text-decoration: none;
    background-color: #DAA520;
    color: black;
    border-radius: 5px;
}

.home section.nav-MejoresProductos ul.mejores-productos li a:hover {
    background-color: #8B4513;
    color: white;
}

.home section.nav-MejoresProductos ul.mejores-productos li {
    /* Display & Box Model */
    display: inline-block;
    padding-right: 1%;
    width: 13%;
}

/* ==========================================================================
   NEWSLETTER
   ========================================================================== */
.home section.newsletter-background {
    /* Display & Box Model */
    margin-top: 100px;
    padding: 20px 0px;

    /* Otras */
    background-color: black;
    color: white;
    text-align: center;
}

.home section.newsletter-background input.newsletter {
    /* Display & Box Model */
    margin: 0.5% 0;
    width: 49%;
    padding: 10px 2px;

    /* Otras */
    border: 0;
    border-radius: 20px;
    text-align: center;
}

.home section.newsletter-background input.newsletter::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
}





/* ==========================================================================
   RESOLUCION: 950 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
@media (max-width: 950px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    .home main section.productos article.producto button.hoverproducto{
        opacity: 1;
    }
}





/* ==========================================================================
   RESOLUCION: 1200 a 1400
   ========================================================================== */
@media (min-width: 1200px) and (max-width: 1400px) {
    /*1 PRODUCTO SACADO*/
    .home main section.productos article.producto.resolucionMenorA1200 {
        display: none;
    }

    /*NAV - MEJORES PRODUCTOS*/
    .home section.nav-MejoresProductos ul.mejores-productos li {
        padding-right: 1%;
        width: 16%;
    }

    /*NEWSLETTER*/
    .home section.newsletter-background input.newsletter {
        width: 70%;
    }
}





/* ==========================================================================
   RESOLUCION: 1024 a 1200
   ========================================================================== */
@media (min-width: 1024px) and (max-width: 1200px) {
    /*1 PRODUCTO SACADO*/
    .home main section.productos article.producto.resolucionMenorA1200 {
        display: none;
    }

    /*SECCION - PRODUCTOS*/
    .home main section.productos {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*NAV - MEJORES PRODUCTOS*/
    .home section.nav-MejoresProductos ul.mejores-productos li {
        padding-left: 0;
        width: 20%;
    }

    /*NEWSLETTER*/
    .home section.newsletter-background input.newsletter {
        width: 70%;
    }

}




  
/* ==========================================================================
   RESOLUCION: 768 a 1023
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {
    /*2 PRODUCTOS SACADOS*/
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024 {
        display: none;
    }

    /*SECCION - PRODUCTOS*/
    .home main section.productos {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*PRODUCTO*/
    .home main section.productos article.producto {
        width: 30%;
        margin: 1% 5px;
        margin-bottom: 3%;
    }

    /*BANNER - NOVEDADES*/
    .home section div.banner-novedades img.img-banner {
        width: 95%;
    }

    /*NAV - MEJORES PRODUCTOS*/
    .home section.nav-MejoresProductos ul.mejores-productos {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0;
    }

    .home section.nav-MejoresProductos ul.mejores-productos li {
        width: 40%;
        margin-top: 2%;
    }

    /*NEWSLETTER*/
    .home section.newsletter-background input.newsletter {
        width: 70%;
    }
}




  
/* ==========================================================================
   RESOLUCION: 480 a 768
   ========================================================================== */
@media (min-width: 480px) and (max-width: 768px) {
    /*3 PRODUCTOS SACADOS*/
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024,
    .home main section.productos article.producto.resolucionMenorA768 {
        display: none;
    }

    /*SECCION - PRODUCTOS*/
    .home main section.productos {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*PRODUCTO*/
    .home main section.productos article.producto {
        margin: 0% 5px;
        width: 45%;
    }

    .home main section.productos article.producto:hover{
        margin-bottom: 0px;
    }

    .producto button.btn-producto {
        margin-bottom: 2%;
    }

    /*BANNER - NOVEDADES*/
    .home section div.banner-novedades img.img-banner {
        width: 95%;
    }

    /*NAV - MEJORES PRODUCTOS*/
    .home section.nav-MejoresProductos ul.mejores-productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        padding-top: 15px;
    }

    .home section.nav-MejoresProductos ul.mejores-productos li{
        width: 75%;
        margin-top: 3%;
        padding: 0;
    }

    .home section.nav-MejoresProductos ul.mejores-productos a {
        display:block;
    }

    /*NEWSLETTER*/
    .home section.newsletter-background input.newsletter {
        width: 70%;
    }
}
  

  


/* ==========================================================================
   RESOLUCION: 480 hacia abajo
   ========================================================================== */
@media (max-width: 480px) {
    /*4 PRODUCTOS SACADOS*/
    .home main section.productos article.producto.resolucionMenorA1200, 
    .home main section.productos article.producto.resolucionMenorA1024,
    .home main section.productos article.producto.resolucionMenorA768,
    .home main section.productos article.producto.resolucionMenorA320 {
        display: none;
    }

    /*SECCION - PRODUCTOS*/
    .home main section.productos {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*PRODUCTO*/
    .home main section.productos article.producto {
        margin: 0% 5px;
        width: 75%;
    }

    .home main section.productos article.producto button.btn-producto {
        margin-bottom: 4%;
    }

    /*BANNER - NOVEDADES*/
    .home section div.banner-novedades img.img-banner {
        width: 98%;
    }

    /*NAV - MEJORES PRODUCTOS*/
    .home section.nav-MejoresProductos ul.mejores-productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    .home section.nav-MejoresProductos ul.mejores-productos li{
        width: 75%;
        margin-top: 3%;
        padding: 0;
    }

    .home section.nav-MejoresProductos ul.mejores-productos a {
        display:block;
    }

    /*NEWSLETTER*/
    .home section.newsletter-background input.newsletter {
        width: 80%;
    }
}
