/* RESET */
body {
    padding: 0;
    margin: 0;
}

body .container-productDetail {    
    padding-top: 10rem;
    padding-bottom: 1%;
}

/* ==========================================================================
   BLOQUE - IMAGEN + DETALLE PRODUCTO
   ========================================================================== */

.container-productDetail section.detalle-producto {
    display: flex; 
    margin-top: 2%;
    width: 100%;
    justify-content: center;
}

/* ==========================================================================
   IMAGEN
   ========================================================================== */

.container-productDetail section.detalle-producto div.imagen {
    width: 30%;
}

.container-productDetail section.detalle-producto div.imagen img {
    width: 100%;
    border-radius: 8px;
}



/* ==========================================================================
   DETALLE
   ========================================================================== */

.container-productDetail section.detalle-producto section.detalle {
    margin-left: 5%;
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
}

/* ==========================================================================
   DETALLE - CANTIDAD
   ========================================================================== */

.container-productDetail section.detalle-producto section.detalle div.cantidad {
    width: 100%;
    display: inline;
}

.container-productDetail section.detalle-producto section.detalle div.cantidad input{
    width: 15%;
    border: 1px solid rgb(145, 144, 144);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-size: medium;
    margin-bottom: 2%;
}

/* ==========================================================================
   DETALLE - AGREGAR AL CARRITO
   ========================================================================== */

.container-productDetail section.detalle-producto section.detalle div.carrito {
    width: 100%;
    display: inline-block;
}

.container-productDetail section.detalle-producto section.detalle div.carrito button.btn-producto {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 8px;
    padding: 5px;
}


/* ==========================================================================
   DETALLE - COMPRAR AHORA
   ========================================================================== */

.container-productDetail section.detalle-producto section.detalle div.boton-cp {
    width: 100%;
    display: inline-block;
}

.container-productDetail section.detalle-producto section.detalle div.comprarAhora button.btn-comprarAhora {
    display: inline-block;
    width: 35%;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 8px;
    padding: 5px;
}

/* HOVER BUTTON CARRITO + CAMBIAR CP */
.container-productDetail section.detalle-producto section.detalle div.carrito button.btn-producto:hover, 
.container-productDetail section.detalle-producto section.detalle div.comprarAhora button.btn-comprarAhora:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}



/* ==========================================================================
   BLOQUE - PRODUCTOS
   ========================================================================== */

/* PRODUCTOS RELACIONADOS */
.product-relacionado {
    text-align: center;
    margin-top: 5%;
}

section.productos{
    /* Display & Box Model */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.productos article.producto {
    /* Display & Box Model */
    width: 22%;
    margin: 1% 0.5%;

    /* Otras */
    background-color: white;
    text-align: center;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(163, 163, 163, 0.295);
    transition: 0.3s;
}

section.productos div.btnAnt {
    align-self: center;
    margin-left: 1%;
    display: inline-block;
}

section.productos div.btnSig {
    align-self: center;
    margin-right: 1%;
    display: inline-block;
}
section.productos article.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

/* ==========================================================================
   PRODUCTO - PRECIO -STOCK
   ========================================================================== */

h2.producto-titulo {
    font-size: large;
    margin-right: 3%;
    margin-left: 3%;
}

.precio-stock {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.etiqueta-precio {
    float: left;
}

.etiqueta-stock {
    float: right;
}

.etiqueta-stock {
    color: green;
}

/* ==========================================================================
   BUTTON - PRODUCTO
   ========================================================================== */
section.productos article.producto button.hoverproducto{
    margin: 0;
    opacity: 0;
    transition: 0.4s;
}

section.productos article.producto:hover button.hoverproducto{
    opacity: 1;
}

section.productos article.producto:hover{
    margin-bottom: 3px;
}

section.productos article.producto h4.etiqueta-precio {
    margin-bottom: 0;
}

section.productos article.producto button.btn-producto {
    /* Display & Box Model */
    padding: 10px;
    width: 80%;
    margin-bottom: 2px;

    /* Otras */
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
}

section.productos div.btnAnt i.fa-chevron-circle-left , 
section.productos div.btnSig i.fa-chevron-circle-right {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: #DAA520;
    font-size: 45px;
}

section.productos div.btnAnt i.fa-chevron-circle-left:hover ,
section.productos div.btnSig i.fa-chevron-circle-right:hover {
    background-color: black;    
    color: #ffd56cd7;
}



@media(min-width:1200px){
    article.producto{
        width: 100vw;
        height: 100vh;
        transition: 0.5s;
    }
    article.producto:hover{
        width: 250px;
        height: 350px;
        margin-bottom: -60px;
    }
}


/*****RESOLUCION 1200*****/
@media (min-width:1200px) {


}

/*****RESOLUCION 1024*****/
@media (min-width: 1024px) and (min-width: 1199) {
    article.producto{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50vw;
        height: 50vh;
        transition: 0.5s;
        
    }
    article.producto:hover{
        width: 20vh;
        height: 20vw;
        margin-bottom: -40px;
    }
    .resolucionMenorA1200{
        display:none;
    }

}

/*****RESOLUCION 768*****/
@media (min-width:768px) {    article.producto{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    transition: 0.5s;
    
}}


/*****RESOLUCION 480*****/
@media (min-width: 480px) and (max-width: 767px) {
        article.producto{
    justify-content: center;
    align-items: center;
    align-content: center; 
    height: 50vh;
    transition: 0.5s;
    margin: 0% 5px;
    width: 75%; 
}
article.producto:hover{
    width: 20vh;
    height: 20vw;
    margin-bottom: -40px;

}
.carrito{
    width:80%;
}
.boton-cp{
    width: 80%;
}
.resolucionMenorA768,
.resolucionMenorA1024,
.resolucionMenorA1200{
    display:none;
}
}

/*****RESOLUCION 320*****/
@media (max-width:479px) {
    article.producto{
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        transition: 0.5s;
}
article.producto:hover{
    width: 20vh;
    height: 20vw;
    margin-bottom: -40px;
}
.carrito{
    width:100%;
}
.botoncp{
    width: 100%;
}
.resolucionMenorA320,
.resolucionMenorA768,
.resolucionMenorA1024,
.resolucionMenorA1200{
    display:none;
}
}