body .container-carrito{
    background-color: rgb(228, 228, 228);
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
    padding-top:1rem;
}
h1.titulo{
    margin-top: 110px;
    text-align: center;
    margin-bottom: 50px;
}
/* PRODUCTOS */
.productos{
    width:60vw;
}
.productos-carrito{
    display:flex;
    justify-content: space-around;
}
.producto-carrito{
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
}
.producto-imagen-carrito{
    border-radius: 15px;
    width: 15%;
    display:inline-block;
}
.hr-carrito{
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px black;
}
.estilo-letras-producto{
    margin-top:7%;
}
.cupones{
    display: flex;
    align-items: center;
    margin-left:8%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cupones input{
    height:40px;
    border-radius: 8px;
}
.cupones a{
    margin-left: 20px;
    color:black;
}
.cupones a p{
    padding:10px;
    margin-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.cupones p:hover{
    color:white;
    background-color: #DAA520;
    border-radius: 8px;
}
/* ==========================================================================
   RECUADRO DEL TOTAL
   ========================================================================== */
.recuadro-total{
    width: 18%;
    height: 500px;
    position:relative;
/*      position:fixed;
    margin-left: 65%; */
/*     border:solid 1px black; */
    z-index: 1;
}
.recuadro-total-chico{
    margin: 10%;
}
.recuadro-carrito{
    display:flex;
    justify-content: space-between;
}
.hr-recuadro{
    border: 1px solid black;
}
.envio-retiro{
    margin-left:50%;
}
.envio-recuadro{
    top: 10px;
}
.color{
    color: #DAA520
}
a{
    text-decoration: none;
}
.boton-pagar{
    width: 100%;
    color: white;
    background-color: #DAA520;
    text-align: center;
    border-radius: 6px;
}
.mobile-letras-producto{
    display: none;
}




/* ==========================================================================
   RESOLUCION 1700 HACIA ARRIBA
   ========================================================================== */
@media (min-width: 1700px) {
    .productos-carrito .recuadro-total{
        width: 18%;
    }
}



/* ==========================================================================
   RESOLUCION 1450-1700
   ========================================================================== */
@media (min-width: 1450px) and (max-width: 1699px) {
    .productos-carrito .recuadro-total{
        width: 25%;
    }
}




/* ==========================================================================
   RESOLUCION 1200-1400
   ========================================================================== */
@media (min-width: 1200px) and (max-width: 1449px) {
    .productos-carrito .recuadro-total{
        width: 30%;
    }
}




/* ==========================================================================
   RESOLUCION 1024-1200
   ========================================================================== */
@media (min-width: 1024px) and (max-width: 1199px){
    .productos-carrito .recuadro-total{
        width: 30%;
    }
}




/* ==========================================================================
   RESOLUCION 768-1024
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1023px){
    .productos-carrito{
        flex-direction: column;
        justify-content: center;
    }
    .productos{
        width: 90vw;
    }
    .productos-carrito .recuadro-total{
        width: 100vw;
    }
    .cupones {
        margin-top: 80px;
        margin-left: 9.5%;
    }
}




/* ==========================================================================
   RESOLUCION 480-768
   ========================================================================== */
@media (min-width: 480px) and (max-width: 767px) {
    .productos-carrito{
        flex-direction: column;
        justify-content: center;
    }
    .productos{
        width: 90vw;
    }
    .productos-carrito .recuadro-total{
        width: 100vw;
    }
    .producto-imagen-carrito{
        width: 70%;
        align-self: center;
        margin-bottom: 25px;
    }
    .producto-carrito{
        flex-direction: column;
    }
    .mobile-letras-producto{
        display: inline-block;
    }
    .estilo-letras-producto{
        display: none;
    }
    .mobile-letras-producto{
        display: flex;
        justify-content: space-between;
        width: 70%;
        align-self: center;
    }
}




/* ==========================================================================
   RESOLUCION 0-479
   ========================================================================== */
@media (max-width: 479px){
    .productos-carrito{
        flex-direction: column;
        justify-content: center;
    }
    .productos{
        width: 90vw;
    }
    .productos-carrito .recuadro-total{
        width: 100vw;
    }
    .producto-imagen-carrito{
        width: 85%;
        align-self: center;
        margin-bottom: 25px;
    }
    .producto-carrito{
        flex-direction: column;
    }
    .mobile-letras-producto{
        display: inline-block;
    }
    .estilo-letras-producto{
        display: none;
    }
    .mobile-letras-producto{
        display: flex;
        justify-content: space-between;
    }
}