/* ==========================================================================
   BODY - GENERAL
   ========================================================================== */
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body div.productDetail {
    background-color: rgb(228, 228, 228);
    padding-top: 10rem;
    padding-bottom: 1%;
}

/* ==========================================================================
   SECCION DETALLE DEL PRODUCTO/IMAGEN
   ========================================================================== */
.seccion-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}
.descripcion{
    width:30%;
    margin-left: 21%;
}
.imagen-producto, .detalle-producto {
    width: 30%;
}

.imagen-producto-previews{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
}

.imagen-previews{
    width:90px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.imagen-previews:hover{
    cursor: pointer;
}

/* ==========================================================================
   IMAGEN
   ========================================================================== */
.imagen-producto img {
    /* Display & Box Model */
    display: flex; 
    align-content: center;
    align-items: center;
    width: 100%;

    /* Otras */
    border-radius: 8px;
}

/* ==========================================================================
   DETALLE DEL PRODUCTO
   ========================================================================== */
.detalle-producto {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
}


/* ==========================================================================
   PRECIO NORMAL, DESCONTADO Y DESCUENTO
   ========================================================================== */
/* .fila-precio {
     Display & Box Model 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

     Otras 
    border-bottom: 2px solid rgb(80, 80, 80);
} */

.texto-descuento-mobile , .texto-invisible-mobile{
    display:none;
}

.fila-precio{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 150px;
}
h5.precio-item , h5.texto-descuento , h5.texto-invisible , h5.texto-descuento-mobile , h5.texto-invisible-mobile{
    margin: 0px 0px 0px 0px;
}
.texto-descuento , .texto-descuento-mobile{
    color: green;
}
.texto-invisible , .texto-invisible-mobile{
    opacity: 0;
}
.precio-flex{
    display: flex;
    justify-content: space-between;
}

.precio-normal, .precio-descontado {
    width: 20%;
}

.descuentos {
    /* Display & Box Model */
    width: 60%;

    /* Otras */
    text-align: right;
}

.fila-precio h4, 
.fila-precio p {
    margin-top: 0;
    margin-bottom: 0;
}

h4.precio-descontado, h4.precio-normal {
    font-size: x-large;
}

h4.precio-descontado {
    color: rgb(189, 61, 61);
}

h4.precio-normal{
    color: rgb(48, 47, 47);
    text-decoration-line: line-through;
}

p.descuentos {
    color: rgb(31, 100, 31);
}

/* ==========================================================================
   CANTIDAD
   ========================================================================== */
.cantidad {
    margin-top: 2%;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.cantidad-label, .cantidad-input {
    /* Display & Box Model */
    width: 50%;

    /* Otras */
    text-align: center;
}

.cantidad-label label {
    font-size: large;
}

.cantidad input{
    /* Display & Box Model */
    width: 25%;
    padding: 4px;

    /* Otras */
    border: 2px solid rgb(145, 144, 144);
    border-radius: 8px;
    text-align: center;
    font-size: small;
}

a i.fa-minus,
a i.fa-plus {
    color: #DAA520;
}

/* ==========================================================================
   AGREGAR AL CARRITO / COMPRAR AHORA / PEDIR PRODUCTO
   ========================================================================== */
.agregarAlcarrito,  
.comprarAhora,
.pedirElProducto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.btn-agregarAlCarrito,
.btn-comprarAhora,
.btn-pedirElProducto {
    /* Display & Box Model */
    width: 100%;
    padding: 15px;

    /* Otras */
    color: white;
    border: 0;
    border-radius: 2px;
    font-size: medium;
    font-weight: 600;
}

.btn-agregarAlCarrito:hover , .btn-comprarAhora:hover , .btn-pedirElProducto:hover {
    cursor: pointer;
}

.btn-agregarAlCarrito {
    background-color: rgb(32, 32, 32);
}

.btn-comprarAhora {
    background-color: #997312;
}

.btn-pedirElProducto {
    background-color: rgb(74, 156, 74);
}

i.fa-whatsapp {
    font-size: 25px;
    color: white;
}




/* ==========================================================================
   RESOLUCION 950 HACIA ABAJO - ANIMACIONES
   ========================================================================== */
   
@media (min-width: 950px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    .btn-agregarAlCarrito:hover {
        cursor: pointer;
        background-color: black;
    }
    
    .btn-comprarAhora:hover {
        cursor: pointer;
        background-color: #b88504;
    }
    
    .btn-pedirElProducto:hover {
        cursor: pointer;
        background-color: rgb(36, 121, 36);
    }

    .btn-agregarAlCarrito:hover {
        background-color: rgb(32, 32, 32);
    }
    
    .btn-comprarAhora:hover {
        background-color: #997312;
    }
    
    .btn-pedirElProducto:hover {
        background-color: rgb(74, 156, 74);
    }
}


/* ==========================================================================
   RESOLUCION 850PX-1200PX
   ========================================================================== */

@media (min-width: 850px) and (max-width: 1200px) {
    .imagen-producto, .detalle-producto {
        width: 40%;
    }
}



/* ==========================================================================
   RESOLUCION 570PX-850PX
   ========================================================================== */

@media (min-width: 570px) and (max-width: 850px) {
    .imagen-producto-previews{
        width: 90px;
    }
    .imagen-producto{
        width: 60%;
    }
    .seccion-producto{
        flex-wrap: wrap;
    }
    .imagen-previews{
        margin-bottom: 45px;
    }
    .seccion-producto{
        top: 30px;
    }
    .imagen-producto img{
        width:100%;
    }
    .descripcion-producto{
        display:none;
    }
    .detalle-producto{
        width: 70%;
        margin-left: 0px;
    }
    body div.productDetail {
        background-color: rgb(228, 228, 228);
        padding-top: 5rem;
        padding-bottom: 1%;
    }
}




/* ==========================================================================
   RESOLUCION 480PX-570PX
   ========================================================================== */

@media (min-width: 480px) and (max-width: 569px) {
    .imagen-producto-previews{
        width: 70px;
    }
    .imagen-producto{
        width: 60%;
    }
    .seccion-producto{
        flex-wrap: wrap;
    }
    .imagen-previews{
        margin-bottom: 30px;
        width: 70px;
    }
    .seccion-producto{
        top: 30px;
    }
    .imagen-producto img{
        width:100%;
    }
    .descripcion-producto{
        display:none;
    }
    .detalle-producto{
        width: 70%;
        margin-left: 0px;
    }
    body div.productDetail {
        background-color: rgb(228, 228, 228);
        padding-top: 5rem;
        padding-bottom: 1%;
    }
}




/* ==========================================================================
   RESOLUCION 480PX-570PX
   ========================================================================== */

   @media (min-width: 0px) and (max-width: 479px) {
    .imagen-producto-previews{
        display: none;
    }
    .seccion-producto{
        flex-wrap: wrap;
    }
    .seccion-producto{
        top: 30px;
    }
    .imagen-producto{
        width:80%;
    }
    .imagen-producto img{
        width:100%;
    }
    .descripcion-producto{
        display:none;
    }
    .detalle-producto{
        width: 80%;
        margin-left: 0px;
    }
    body div.productDetail {
        background-color: rgb(228, 228, 228);
        padding-top: 5rem;
        padding-bottom: 1%;
    }
    .texto-descuento-mobile , .texto-invisible-mobile{
        display:inline-block;
    }
    .texto-descuento , .texto-invisible{
        display:none;
    }
}