.container-footer {
    margin: 0px;
    padding: 0px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 0px;
    z-index: inherit 9;
  }

  .cont-nosotros {
    display: flex;
    justify-content: center;
  }

  .art-footer {
    margin-top: 1%;
    width: 33%;
    text-align: center;
    vertical-align: top;
    color: white;
  }

  .contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacto div {
    text-align: justify;
    margin-left: 15%;
  }

  .contacto i {
    margin-top: 3%;
    font-size: 35px;
  }

  .contacto i:hover , a:hover{
    opacity: 0.8;
  }

  i.fa-instagram , .ig {
    color: #F56040;
  }

  i.fa-whatsapp , .wpp{
    color: #25D366;
  }

  i.fa-facebook-square , .fb{
    color: #3b5998;
  }

  i.fa-facebook-messenger , .fb-msg{
    color: #0078FF;
  }

  i.fa-envelope , .gmail{
    color:#fce4b4a9;
  }

  .icono {
    text-decoration: none;
  }

  .icono p {
    display: inline-block;
  }

  iframe.mapa {
    width: 93%;
  }
  
  iframe.mapa:hover {
    transform: scale(1.1);
  }
  
  hr.hrline {
    color: white;
    border: none;
    height: 2px;
    background-color: white;
    opacity: 1;
  }
  
  .copyright {
    padding: 10px 0px;
    color: white;
    text-align: center;
  }
  
  .copyright h3 {
    margin: 0;
    padding-bottom: 5px;
  }
  
  /*****RESOLUCION 1200*****/
@media (min-width:1200px) {

}

/*****RESOLUCION 1024*****/
@media (min-width:1024px) {

}

/*****RESOLUCION 768*****/
@media (min-width:768px) {

}

/*****RESOLUCION 480*****/
@media (min-width:480px) {

}

/*****RESOLUCION 320*****/
@media (min-width:320px) {

}