.container-footer {
    margin: 0px;
    padding: 0px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 0px;
    z-index: inherit 9;
  }

  .cont-nosotros {
    display: flex;
    justify-content: center;
  }

  .art-footer {
    margin-top: 1%;
    width: 33%;
    text-align: center;
    vertical-align: top;
    color: white;
  }

  .contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacto div {
    text-align: justify;
    margin-left: 15%;
  }

  .contacto i {
    margin-top: 3%;
    font-size: 35px;
  }

  .contacto i:hover , .icono:hover{
    opacity: 0.8;
  }

  i.fa-instagram , .ig {
    color: #F56040;
  }

  i.fa-whatsapp , .wpp{
    color: #25D366;
  }

  i.fa-facebook-square , .fb{
    color: #3b5998;
  }

  i.fa-facebook-messenger , .fb-msg{
    color: #0078FF;
  }

  i.fa-envelope , .gmail{
    color:#fce4b4a9;
  }

  .icono {
    text-decoration: none;
  }

  .icono p {
    display: inline-block;
  }

  iframe.mapa {
    width: 93%;
  }
  
  iframe.mapa:hover {
    transform: scale(1.1);
  }
  
  hr.hrline {
    color: white;
    border: none;
    height: 2px;
    background-color: white;
    opacity: 1;
  }
  
  .copyright {
    padding: 10px 0px;
    color: white;
    text-align: center;
  }
  
  .copyright h3 {
    margin: 0;
    padding-bottom: 5px;
  }
  
/*****RESOLUCION 1024*****/
@media (min-width: 1024px) and (max-width: 1200px) {
  .cont-nosotros {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .art-footer {
    width: 47%;
  }

  .contacto div {
    text-align: center;
    margin-left: 0;
  }

  .nosotros {
    padding: inherit 1%;
  }

  .ubi {
    width: 97%;
    order: 1;
  }

  .art-footer.ubi {
    width: 100%;
    border-top: 1px solid white;
  }

}

/*****RESOLUCION 768*****/
@media (min-width: 768px) and (max-width: 1024px) {
  .cont-nosotros {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .art-footer {
    width: 45%;
  }

  .contacto div {
    text-align: center;
    margin-left: 0;
  }

  .nosotros {
    padding: inherit 1%;
  }

  .ubi {
    width: 90%;
    order: 1;
  }
  
  .art-footer.ubi {
    width: 100%;
    border-top: 1px solid white;
  }
}

/*****RESOLUCION 480*****/
@media (min-width: 480px) and (max-width: 768px) {
  .cont-nosotros {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .art-footer {
    width: 45%;
  }

  .contacto div {
    text-align: center;
    margin-left: 0;
  }

  .nosotros {
    padding: inherit 1%;
  }

  .ubi {
    width: 97%;
    order: 1;
  }

  .art-footer.ubi {
    width: 100%;
    border-top: 1px solid white;
  }
}

/*****RESOLUCION 320*****/
@media (min-width: 320px) and (max-width: 480px) {
  .cont-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .art-footer {
    width: 97%;
  }

  .contacto div {
    text-align: center;
    margin-left: 0;
  }

  .nosotros {
    padding: inherit 1%;
  }

  .ubi {
    width: 97%;
    order: 1;
  }

  .art-footer.nosotros {
    width: 100%;
    border-top: 1px solid white;
  }

  .art-footer.ubi {
    width: 100%;
    border-top: 1px solid white;
  }
}

/*****RESOLUCION MENOS DE 320*****/
@media (max-width: 320px) {
  .cont-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .art-footer {
    width: 97%;
  }

  .contacto div {
    text-align: center;
    margin-left: 0;
  }

  .nosotros {
    padding: inherit 1%;
  }

  .ubi {
    width: 97%;
    order: 1;
  }

  .art-footer.nosotros {
    width: 100%;
    border-top: 1px solid white;
  }

  .art-footer.ubi {
    width: 100%;
    border-top: 1px solid white;
  }
}