.container-footer {
    margin: 0px;
    padding: 0px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 0px;
    z-index: inherit 9;
  }

  .cont-nosotros {
    display: flex;
    justify-content: center;
  }

  .art-footer {
    margin-top: 1%;
    width: 33%;
    text-align: center;
    vertical-align: top;
    color: white;
  }

  .contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacto i {
    margin-top: 3%;
    font-size: 35px;
  }

  i.fa-instagram {
    color: #F56040;
  }

  i.fa-whatsapp {
    color: #25D366;
  }

  i.fa-facebook-square {
    color: #3b5998;
  }

  i.fa-facebook-messenger {
    color: #0078FF;
  }

  i.fa-envelope {
    color:#fce4b4a9;
  }



  iframe.mapa {
    width: 93%;
  }
  
  iframe.mapa:hover {
    transform: scale(1.1);
  }

  /*
  
  .art-footer {
    margin-top: 1%;
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    color: white;
  }*/
  
  
  
  hr.hrline {
    color: white;
    border: none;
    height: 2px;
    background-color: white;
    opacity: 1;
  }
  
  .copyright {
    padding: 10px 0px;
    color: white;
    text-align: center;
  }
  
  .copyright h3 {
    margin: 0;
    padding-bottom: 5px;
  }
  