.container-footer {
    margin: 0px;
    padding: 0px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 0px;
    z-index: inherit 9;
  }
  
  .art-footer {
    margin-top: 1%;
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    color: white;
  }
  
  iframe.mapa {
    width: 94%;
  }
  
  iframe.mapa:hover {
    transform: scale(1.1);
  }
  
  hr.hrline {
    color: white;
    border: none;
    height: 2px;
    background-color: white;
    opacity: 1;
  }
  
  .copyright {
    padding: 10px 0px;
    color: white;
    text-align: center;
  }
  
  .copyright h3 {
    margin: 0;
    padding-bottom: 5px;
  }
  