/******RESET********/
body .container-home {
    background-color: rgb(228, 228, 228);
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
}

/********BANNER-CARRUSEL***********/

.banner img {
    display: block;
    width: 100%;
}

/*********TITULOS**********/

.titulos {
    text-align: center;
}

/*********PRODUCTOS**********/

section.productos {
    width: 100%;
}
@media(min-width:1200px){
    article.producto{
        width: 350px;
        height: 460px;
        transition: 0.5s;
    }
    article.producto:hover{
        width: 350px;
        height: 540px;
    }
}
article.producto {
    text-align: center;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    background-clip: padding-box;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 5px 5px rgba(163, 163, 163, 0.295);
}

article.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}
.producto:hover .hoverproducto{
    opacity: 1;
}
article.producto .hoverproducto{
    opacity: 0;
    transition: 0.3s;
}

article button.btn-producto {
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-bottom: 2px;
}

a .button-pass {
    display: inline-block;
    position: relative;
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    width: 2.5%;
    margin: 0% 1%;
    bottom: 150px;
}

a i.fas.fa-angle-left , .fa-angle-right{
    padding: 0% 0% 0% 25%;
    font-size: 35px;
}

/********MEJORES PRODUCTOS NAV********/

ul.mejores-productos {
    text-align: center;
}

ul.mejores-productos li a {
    text-decoration: none;
    background-color: #DAA520;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

ul.mejores-productos li a:hover {
    background-color: #8B4513;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.mejores-productos li {
    border: black;
    display: inline-block;
    padding-right: 2%;
}

/*********NEWSLETTER**********/
section.newsletter-background {
    margin-top: 1%;
    padding: 20px 0px;
    background-color: black;
    color: white;
    text-align: center;
}

input.newsletter {
    margin: 0.5% 25%;
    width: 49%;
    border-radius: 20px;
    padding: 10px 2px;
    text-align: center;
}

input.newsletter::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
}

