/******RESET********/
body.container-home {
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
}

/*******************/

body .container-home {
    background-color: rgb(228, 228, 228);
}

/*******************/
input.newsletter {
    margin: 0.5% 25%;
    width: 49%;
    border-radius: 20px;
    padding: 10px 2px;
    text-align: center;
}

input.newsletter::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
}

section.newsletter-background {
    padding: 20px 0px;
    background-color: black;
    color: white;
    text-align: center;
}


/*******************/

.banner img {
    display: block;
    width: 100%;
}

/*******************/

.titulo {
    text-align: center;
}

/*******************/

.productos {
    text-align: center;
}

.producto {
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    background-clip: padding-box;
    display: inline-block;
    margin: 1% 1%;
    width: 20%;
    box-shadow: 5px 5px rgba(163, 163, 163, 0.295);
}

.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.producto:hover {
    transform: scale(1.1);
}

.btn-producto {
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-bottom: 2px;
}

.button {
    display: inline-block;
    position: relative;
    background-color: white;
    border: black 1px solid;
    padding: 10px;
    margin: 0px 0%;
    border-radius: 50%;
    width: 25px; 
    bottom: 150px;
}



/*******************/

ul.mejores-productos {
    text-align: center;
}

ul.mejores-productos li a {
    text-decoration: none;
    background-color: #DAA520;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

ul.mejores-productos li a:hover {
    background-color: #8B4513;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.mejores-productos li {
    border: black;
    display: inline-block;
    padding-right: 2%;
}