/* RESET */
body .container-home {
    background-color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* BANNER-CARRUSEL */

.banner img {
    display: block;
    width: 100%;
}

/* TITULOS */

.titulos {
    text-align: center;
    margin-top: 20px;
}
.titulos-abajo-producto{
    text-align: center;
    margin-top: 60px;
}

/* PRODUCTOS */

section.productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.producto {
    width: 22%;
    display: inline-block;
}

.btnAnt {
    align-self: center;
    margin-left: 1%;
    display: inline-block;
}

.btnSig {
    align-self: center;
    margin-right: 1%;
    display: inline-block;
}

article.producto img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

article.producto {
    text-align: center;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 15px;
    background-clip: padding-box;
    background-color: white;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 3px 3px rgba(163, 163, 163, 0.295);
}

.producto:hover .hoverproducto{
    opacity: 1;
}

article.producto .hoverproducto{
    opacity: 0;
    transition: 0.3s;
}

article button.btn-producto {
    background-color: black;
    color: white;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-bottom: 2px;
}

.fa-chevron-circle-left , .fa-chevron-circle-right {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: #DAA520;
    font-size: 45px;
}

.fa-chevron-circle-left:hover , .fa-chevron-circle-right:hover {
    background-color: black;    
    color: #ffd56cd7;
}

@media(min-width:1200px){
    article.producto{
        width: 350px;
        height: 450px;
        transition: 0.5s;
    }
    article.producto:hover{
        width: 350px;
        height: 530px;
        margin-bottom: -60px;
    }
}

/* MEJORES PRODUCTOS NAV */

ul.mejores-productos {
    text-align: center;
}

ul.mejores-productos li a {
    text-decoration: none;
    background-color: #DAA520;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

ul.mejores-productos li a:hover {
    background-color: #8B4513;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.mejores-productos li {
    border: black;
    display: inline-block;
    padding-right: 2%;
}

/* NEWSLETTER */
section.newsletter-background {
    margin-top: 100px;
    padding: 20px 0px;
    background-color: black;
    color: white;
    text-align: center;
}

input.newsletter {
    margin: 0.5% 25%;
    width: 49%;
    border: 0;
    border-radius: 20px;
    padding: 10px 2px;
    text-align: center;
}

input.newsletter::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
}



/*****RESOLUCION 1200*****/
@media (min-width:1200px) {

}

/*****RESOLUCION 1024*****/
@media (min-width:1024px) {

}

/*****RESOLUCION 768*****/
@media (min-width:768px) {

}

/*****RESOLUCION 480*****/
@media (min-width:480px) {

}

/*****RESOLUCION 320*****/
@media (min-width:320px) {

}