/*----------NAV BAR----------*/
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.nav-backgc{
  background:#DAA520;
  height:140px;
  position: fixed;
  width: 100%;
  transition: 0.4s;
}
.container-nav{
  width : 80%;
  margin-left:10%;
  position:fixed;
  background:#DAA520;
  z-index:inherit 9;
}
.logo{
  max-width: 65px;
  padding: 10px 0px 2px 0px;
}
nav{
  width: 100%;
  padding-bottom: 2px;
}
.navbar ul{
  padding: 0;
  list-style: none;
}
.navbar li{
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}
.navbar a{
  text-decoration: none;
  color: #fff;
}
.navbar a:hover{
  color: red;
}
hr{
  opacity:20%
}
.navcarrito{
  float:right;
  position: fixed;
  right: 20%;
  margin-top: -29px;
}
.navlogin{
  float:right;
  position:absolute;
  right: 20%;
  top: -6px;
}
.nav-arriba{
  background: #8B4513;
  padding-top: 50px;
  width: 100%;
}
.nav-arriba a{
  text-decoration: none;
  color: #fff;
}
.nav-arriba ul{
  padding: 0;
  list-style: none;
}
.nav-arriba li{
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}
/*----------FOOTER----------*/

.container-footer {
  margin: 0px;
  padding: 0px;
  background-color: black;
  margin-top: 2px;
  margin-bottom: 0px;
}

.art-footer {
  margin-top: 1%;
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
  color: white;
}

iframe.mapa {
  width: 94%;
}

iframe.mapa:hover {
  transform: scale(1.1);
}

hr.hrline {
  color: white;
  border: none;
  height: 2px;
  background-color: white;
  opacity: 1;
}

.copyright {
  padding: 10px 0px;
  color: white;
  text-align: center;
}

.copyright h3 {
  margin: 0;
  padding-bottom: 5px;
}