/*----------NAV BAR----------*/
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.nav-backgc {
  height: 140px;
  position: fixed;
  width: 100%;
  transition: 0.4s;
  z-index: 9;
  backdrop-filter: blur(1rem);
  background-color: #DAA520;
}

.container-nav {
  width: 80%;
  margin-left: 10%;
  position: fixed;
  z-index: inherit 9;
}

.logonav {
  max-width: 65px;
  padding: 10px 0px 2px 0px;
  position: relative;
  float: left;
  margin-top: -5px;
  display: none;
}

.logo {
  max-width: 65px;
  padding: 10px 0px 2px 0px;
}

nav {
  width: 100%;
  padding-bottom: 2px;
}

.navbar ul {
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}

.navcarrito span {
  display: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a {
  color: #fff;
}

.barra {
  margin-top: 27px;
}

hr {
  opacity: 20%
}

.navcarrito.login-carrito {
  display: none;
  font-size: 18px;
}

.navcarrito {
  display: flex;
  float: right;
  position: fixed;
  right: 20%;
  margin-top: -35px;
  transition: 0.3s;
}

.navlogin {
  float: right;
  display: flex;
  position: fixed;
  right: 1.5%;
  margin-top: -35px;
  transition: 0.3s;
}

.navlogin {
  float: right;
  position: fixed;
  right: 1.5%;
  margin-top: -35px;
  transition: 0.3s;
}

.nav-arriba {
  padding-top: 50px;
  width: 100%;
}

.nav-arriba a {
  text-decoration: none;

}

.nav-arriba ul {
  padding: 0;
  list-style: none;
}

.nav-arriba li {
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}

.btn-hamburguesa{
  display: none;
  color: white;
}
/* ==========================================================================
BUSCADOR
========================================================================== */
.search {
  transition: 0.3s;
}

/* .search:hover {
  margin-right: 100px;
} */

.searchBuscador {
  display: none;
  position: absolute;
}

input:focus:hover {
  margin-right: 100px;
}

.search:hover~.searchBuscador {
  display: inline-block;
}

/* ==========================================================================
DROPDOWN MENU
========================================================================== */
.dropdownMenu {
  position: absolute;
  display: none;
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 2px 2px rgba(163, 163, 163, 0.295);
}

.dropdownBoton:hover>.dropdownMenu {
  display: flex;
}

.dropdownMenu a {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: black;
  border-radius: 5px;
  margin-block-start: 0.5em;
  height: 100px;
}

.dropdownMenu a h3 {
  margin-block-start: 16px;
  margin-block-end: -9.5px;
}



/* ==========================================================================
MENU HAMBURGUESA MOBILE
========================================================================== */
.mobile-hamburguesa-menu{
  position: absolute;
  height: 96vh;
  width: 96vw;
  background-color: white;
  border-radius: 15px;
  top: 80px;
  left: 1vw;
  z-index: 9;
  display:none;
}
.hamburguesa-margin{
  margin:2%;
}
.hamburguesa-top{
  display:flex;
  justify-content: space-between;
}
.hamburguesa-items{
  display:flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 4%;
}
.hamburguesa-item{
  color:#DAA520;
  display: inline-block;
  margin-bottom: 7px;
  transition: 0.4s;
}
.fa-times-circle{
  font-size: 25px;
  color: #DAA520;
}
.fa-angle-down{
  margin-top: 2px;
}
.dropdown-mobile{
  color: black;
  display:flex;
  flex-direction: column;
  margin-left: 2%;
  margin-bottom: 20px;
}


/* ==========================================================================
RESOLUCION 1200-1300
========================================================================== */

@media (min-width: 1200px) and (max-width: 1300px) {
  .navcarrito li {
      margin: 0px 15px;
  }
}




/* ==========================================================================
RESOLUCION 1024-1600
========================================================================== */

@media (min-width: 1024px) and (max-width: 1600px) {
  .navlogin li a {
      display: none;
  }

  .navcarrito span {
      display: inline-block;
  }

  .navcarrito {
      right: 6%;
  }
}




/* ==========================================================================
RESOLUCION 768-1024
========================================================================== */

@media (min-width:768px) and (max-width: 1024px) {
  /* SCRIPT DE NAV BAR DESACTIVADO */

  .barra{
    display: none;
  }

  .nav-backgc{
    margin: -72px 0px 0px 0px;
  }

  .logonav{
    display: inline-block;
  }

  .navcarrito{
    margin: 32px 0px 0px 0px;
  }

  .navlogin{
    margin: 32px 0px 0px 0px;
  }

  /* ICONOS DE LA DERECHA (NAV BAR)*/
  .navlogin li a {
    display: none;
  }

  .navcarrito{
    right: -2%;
  }

  .navcarrito span {
    display: inline-block;
  }

  .btn-hamburguesa{
    display: inline-block;
  }
  
}

/*****RESOLUCION 480*****/
@media (min-width: 480px) and (max-width: 767px){
  .barra{
    display: none;
  }

  .nav-backgc{
    margin: -72px 0px 0px 0px;
  }

  .logonav{
    display: inline-block;
  }

  .navcarrito{
    margin: 32px 0px 0px 0px;
  }

  .navlogin{
    margin: 32px 0px 0px 0px;
  }
}

/*****RESOLUCION 320*****/
@media (min-width:320px) {
  .barra{
    display: none;
  }

  .nav-backgc{
    margin: -72px 0px 0px 0px;
  }

  .logonav{
    display: inline-block;
  }

  .navcarrito{
    margin: 32px 0px 0px 0px;
  }

  .navlogin{
    margin: 32px 0px 0px 0px;
  }
}