/*----------NAV BAR----------*/
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.nav-backgc{
  height:140px;
  position: fixed;
  width: 100%;
  transition: 0.4s;
  z-index: 9;
  backdrop-filter: blur(1rem);
}
.container-nav{
  width : 80%;
  margin-left:10%;
  position:fixed;
  z-index:inherit 9;
}
.logonav{
  max-width: 65px;
  padding: 10px 0px 2px 0px;
  position: relative;
  float:left;
  margin-top: -5px;
  display:none;
  transition: 0.3s;
}
.logo{
  max-width: 65px;
  padding: 10px 0px 2px 0px;
}
nav{
  width: 100%;
  padding-bottom: 2px;
}
.navbar ul{
  padding: 0;
  list-style: none;
}
.navbar li{
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}
.navbar a{
  text-decoration: none;
  color: #fff;
}
.navbar a{
  color: #fff;
}
.barra{
  margin-top: 27px;
}
hr{
  opacity:20%
}
.navcarrito{
  float:right;
  position: fixed;
  right: 20%;
  margin-top: -35px;
  transition: 0.3s;
}
.navlogin{
  float:right;
  position:fixed;
  right: 1.5%;
  margin-top: -35px;
  transition: 0.3s;
}
.nav-arriba{
  padding-top: 50px;
  width: 100%;
}
.nav-arriba a{
  text-decoration: none;

}
.nav-arriba ul{
  padding: 0;
  list-style: none;
}
.nav-arriba li{
  display: inline-block;
  margin: 0px 25px;
  position: relative;
}


/*****RESOLUCION 1200*****/
@media (min-width:1200px) {

}

/*****RESOLUCION 1024*****/
@media (min-width:1024px) {

}

/*****RESOLUCION 768*****/
@media (min-width:768px) {

}

/*****RESOLUCION 480*****/
@media (min-width:480px) {

}

/*****RESOLUCION 320*****/
@media (min-width:320px) {

}