/* ==========================================================================
   BODY - GENERAL
   ========================================================================== */
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body div.productDetail {
    background-color: rgb(228, 228, 228);
    padding-top: 10rem;
    padding-bottom: 1%;
}

/* ==========================================================================
   SECCION DETALLE DEL PRODUCTO/IMAGEN
   ========================================================================== */
.seccion-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-producto, .detalle-producto {
    width: 30%;
}

/* ==========================================================================
   IMAGEN
   ========================================================================== */
.imagen-producto img {
    display: flex; 
    align-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

/* ==========================================================================
   DETALLE DEL PRODUCTO
   ========================================================================== */
.detalle-producto {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;  
}


/* ==========================================================================
   PRECIO
   ========================================================================== */
.precio div h4{
    color: red; 
    font-weight: 500;
}

/* ==========================================================================
   CANTIDAD
   ========================================================================== */
.cantidad {
    width:100%;
    display: inline;
}

.cantidad input{
    width: 15%;
    border: 1px solid rgb(145, 144, 144);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-size: medium;
    margin-bottom: 2%;
}

/* ==========================================================================
   AGREGAR AL CARRITO
   ========================================================================== */
.agregarAlcarrito {
    width: 45%;
    display: inline-block;
}


/*
@media(min-width:1200px){
    article.producto{
        width: 100vw;
        height: 100vh;
        transition: 0.5s;
    }
    article.producto:hover{
        width: 250px;
        height: 350px;
        margin-bottom: -60px;
    }
}
*/


/*****RESOLUCION 1024*****/
/*
@media (min-width: 1024px) and (min-width: 1199) {
    article.producto{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50vw;
        height: 50vh;
        transition: 0.5s;
        
    }
    article.producto:hover{
        width: 20vh;
        height: 20vw;
        margin-bottom: -40px;
    }
    .resolucionMenorA1200{
        display:none;
    }

}*/

/*****RESOLUCION 768*****/
/*
@media (min-width:768px) {    article.producto{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    transition: 0.5s;
    
}}*/


/*****RESOLUCION 480*****/
/*
@media (min-width: 480px) and (max-width: 767px) {
        article.producto{
    justify-content: center;
    align-items: center;
    align-content: center; 
    height: 50vh;
    transition: 0.5s;
    margin: 0% 5px;
    width: 75%; 
}
article.producto:hover{
    width: 20vh;
    height: 20vw;
    margin-bottom: -40px;

}
.carrito{
    width:80%;
}
.boton-cp{
    width: 80%;
}
.resolucionMenorA768,
.resolucionMenorA1024,
.resolucionMenorA1200{
    display:none;
}
}*/

/*****RESOLUCION 320*****/
/*
@media (max-width:479px) {
    article.producto{
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        transition: 0.5s;
}
article.producto:hover{
    width: 20vh;
    height: 20vw;
    margin-bottom: -40px;
}
.carrito{
    width:100%;
}
.botoncp{
    width: 100%;
}
.resolucionMenorA320,
.resolucionMenorA768,
.resolucionMenorA1024,
.resolucionMenorA1200{
    display:none;
}
}*/