h2{text-align: right; 
    display: inline-block;
    
    
}
h4{ 
    text-align: right;
    display: inline-block
     

}
.container-product-detail{
    background-color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 10rem;
}
img{ width: 49%;
    text-align:left; 
    display:inline-block; 
    
}
.container-button{text-aling:right; 
    display: inline-block; 
    width: 50%
}
.input-button-detail {
    background-color: black;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 70%;
    margin: 0 0 2% 0;
    font-size: large;
   
}