/******RESET********/
body .container-register{
    background-color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 10rem;
}

.input-registro{
    display: block;
    margin: 0 0 1% 0;
    padding-left: 1%;
    border-radius: 5px;
    border: 0px solid black;
    height: 40px;
    width: 35%; 
}
div { 
    text-align:center;
}
.input-button{
    background-color: black;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 36%;
    margin: 0 0 2% 0;
    font-size: large;
}
.input-button-registro{ background-color: black;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 36%;
    margin: 0 0 2% 0;
    font-size: large;
}