/******RESET********/
body .container-register{
    background-color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 10rem;
    padding-bottom: 1%;
}

h1 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.input-registro{
    display: block;
    margin: 0 0 1% 0;
    padding-left: 1%;
    border-radius: 5px;
    border: 0px solid black;
    height: 40px;
    width: 35%;
}

.terminos {
    width: 100%;
    font-size: small;
}

#terminos-condiciones {
    background-color: black;
    color: white;
}

.input-button{
    cursor: not-allowed;
    opacity: 0.3;
    background-color: black;
    border: 0px solid black;
    display: block;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 36%;
    margin: 1% 0% 0% 0;
    font-size: large;
}

.contraseña-olvidada , .registrate-usuario , .iniciar-sesion{
    text-align: center;
}

.registrate-usuario , .iniciar-sesion{
    margin-bottom: 5%;
}

.registrate-usuario a, .iniciar-sesion a{
    color: #cf9500;
}

.contraseña-olvidada a {
    color: black;
}


/*****RESOLUCION 1200*****/
@media (min-width:1200px) {

}

/*****RESOLUCION 1024*****/
@media (min-width:1024px) {

}

/*****RESOLUCION 768*****/
@media (min-width:768px) {

}

/*****RESOLUCION 480*****/
@media (min-width:480px) {

}

/*****RESOLUCION 320*****/
@media (min-width:320px) {

}