<!DOCTYPE html>
<html lang="es">
  <head>   
   <title>BierClub - Error 404</title>
    <%- include('./partials/head.ejs') %>
  </head>

  <header>
    <%- include('./partials/nav.ejs') %>
    <br>
  </header>
  <body>
      <div class="container-error">
          <div class="container-titulo">
            <img src="/images/home/not-found-404.png">
            <h1>La pagina que estas buscando no existe o fue eliminada</h1>
            <button onclick="window.location.href='/'"><i class="fas fa-chevron-left"></i> Volver al Home</button>
          </div>

        <!-- PRODUCTOS RELACIONADOS -->

    </div>
        
</body>
</html>
