<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Game</title>
    <link rel="stylesheet" href="/stylesheets/game.css">
    <script type="text/javascript" src="/js/game.js"></script>
</head>
<body>
    <h2 id="alert"></h2>
    <div class="grid">
            <img class="barney" src="/images/game/barney.png" alt="barney">
    </div>
    
</body>
</html>