<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>prueba</h1>
    <form action="/products/prueba" method="POST" enctype="multipart/form-data">
        <input type="nombre">
        <input type="file" name="imagen">
        <button type="submit">enviar</button>
    </form>
</body>
</html>