<!DOCTYPE html>
<html lang="es">
  <head>   
   <title>BierClub</title>
    <%- include('./partials/head.ejs') %>
  </head>

  <header>
    <%- include('./partials/nav.ejs', userLogged) %>
    <br>
  </header>
  <body>
      <div class="container-error">
          <div class="container-titulo">
            <img src="/images/ilustrations/question-mark.png">
            <h1>No tienes los permisos necesarios para ingresar a esta página</h1>
            <button onclick="window.location.href='/'"><i class="fas fa-chevron-left"></i> Volver al Home</button>
          </div>
    </div>
        
</body>
</html>
