<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/__general.css">
    <link rel="stylesheet" href="/stylesheets/__nav.css">
    <link rel="stylesheet" href="/stylesheets/prueba.css">
    <link rel="stylesheet" href="/stylesheets/__footer.css">
    <script type="text/javascript" src="/js/prueba.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
    <%- include('./partials/nav.ejs') %>
    <br>
  </header>


    <!-- CONTAINER CARRITO-->
    <div class="container-carrito">

      <!-- TITULO -->
      <h1 class="titulo">Carrito</h1>

      <!-- SECCION PRODUCTOS DEL CARRITO Y RECUADRO -->
      <div class="productos-carrito">

        <!-- SECCION PRODUCTOS CARRITO-->
        <div class="productos">


          

            
              <!-- PC - FILA DE IMG Y PRECIO -->
                <!-- SECCION PRODUCTOS FILA 1 -->
                <div class="producto-carrito">
                  <form action="" class="form-equis">
                        <a class="estilo-letras-producto">X</a>
                    </form>
                    <img class="producto-imagen-carrito" src="/images/productos/producto-1608832774673.jpg" alt="">
                    <h4 class="estilo-letras-producto producto-nombre" >asdasdasdds adsadsadsadsasad saasddssdds sdsdsddsddssddssdsd</h4>
                    <h4 class="estilo-letras-producto producto-precio">$123123</h4>
                    <h4 class="estilo-letras-producto producto-cantidad"><a href="#" class="sumar-restar-cantidad">-</a> 33 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                    <h4 class="estilo-letras-producto producto-precio-total">$299.98</h4>
                  

                </div>






                
                <!-- SECCION PRODUCTOS FILA 2 -->
                <div class="producto-carrito">
                  <form action="" class="form-equis">
                        <a class="estilo-letras-producto">X</a>
                    </form>
                    <img class="producto-imagen-carrito" src="/images/productos/product-image-not-available.jpg" alt="">
                    <h4 class="estilo-letras-producto producto-nombre">fdsfdsfdsfdsfdsfdsfdsfds</h4>
                    <h4 class="estilo-letras-producto producto-precio">$0</h4>
                    <h4 class="estilo-letras-producto producto-cantidad"><a href="#" class="sumar-restar-cantidad">-</a> 25555 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                    <h4 class="estilo-letras-producto producto-precio-total">$299.98</h4>
                  

                </div>
             
              

        


<!-- SECCION PRODUCTOS FILA 1 -->
                <div class="producto-carrito">
                  <form action="" class="form-equis">
                        <a class="estilo-letras-producto">X</a>
                    </form>
                    <img class="producto-imagen-carrito" src="/images/productos/producto-1608832830510.jpg" alt="">
                    <h4 class="estilo-letras-producto producto-nombre">grgrgrgrgrgrgrgrrgrggr</h4>
                    <h4 class="estilo-letras-producto producto-precio">$6546</h4>
                    <h4 class="estilo-letras-producto producto-cantidad"><a href="#" class="sumar-restar-cantidad">-</a> 22232 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                    <h4 class="estilo-letras-producto producto-precio-total">$299.98</h4>
                  
                  

                </div>








                <!-- SECCION PRODUCTOS FILA 1 -->
                <div class="producto-carrito">
                  <form action="" class="form-equis">
                        <a class="estilo-letras-producto">X</a>
                    </form>
                    <img class="producto-imagen-carrito" src="/images/productos/producto-1608832774693.jpg" alt="">
                    <h4 class="estilo-letras-producto producto-nombre">tertretetretertertertree</h4>
                    <h4 class="estilo-letras-producto producto-precio">$33</h4>
                    <h4 class="estilo-letras-producto producto-cantidad"><a href="#" class="sumar-restar-cantidad">-</a> 232 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                    <h4 class="estilo-letras-producto producto-precio-total">$299.98</h4>

                </div>









                <!-- SECCION PRODUCTOS FILA 1 -->
                <div class="producto-carrito">
                    <form action="" class="form-equis">
                        <a class="estilo-letras-producto">X</a>
                    </form>
                  
                    <img class="producto-imagen-carrito" src="/images/productos/producto-1608832830503.jpg" alt="">
                    <h4 class="estilo-letras-producto producto-nombre">nombre</h4>
                    <h4 class="estilo-letras-producto producto-precio">$4322423</h4>
                    <h4 class="estilo-letras-producto producto-cantidad">
                        <a href="#" class="sumar-restar-cantidad">-</a>
                         1000
                         <a href="#" class="sumar-restar-cantidad">+</a>
                    </h4>
                    <h4 class="estilo-letras-producto producto-precio-total">$299.98</h4>
                  
                  

                </div>













          <!-- LINEA -->
          <hr class="hr-carrito">          
        </div>














        <!----------- RECUADRO TOTAL ----------->
          <div id="recuadro" class="recuadro-total">

            <!-- RECUADRO TOTAL - CON MARGEN -->
            <div class="recuadro-total-chico">

              <!-- TITULO -->
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">

              <!-- SUBTOTAL -->
              <div class="recuadro-carrito">
                <h4>SUBTOTAL</h4>
                <h4>$1849,98</h4>
              </div>

              <!--------- ENVIO --------->
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>

                <!-- RETIRO -->
                <div>
                  <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
                  <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
                </div>
              </div>

              <!-- DIRECCION -->
              <div class="recuadro-carrito">
                <a href=""><h4 class="btn-cambiar-direccion direccion-margin">Cambiar direccion</h4></a>
                <h4 class="">Bascary 440</h4>
              </div>

              <!-- LINEA DIVISORA -->
              <hr class="hr-recuadro">

              <!-- TOTAL -->
              <div class="recuadro-carrito">
                <h4>TOTAL</h4>
                <h4>$2000</h4>
              </div>

              <!-- BOTON PAGO -->
              <a href=""><h4 class="boton-pagar">PROCEDER AL PAGO</h4></a>
            </div>

          </div>

        </div>


        <!-- SECCION CUPONES -->
        <div class="cupones">
          <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
          <a href=""><strong><p>APLICAR CUPON</p></strong></a>
        </div>

        
        
        <!-- PRODUCTOS RELACIONADOS -->
        <div>
          <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
        </div>
    


    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>