body .about-us{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}

div.about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.about-us .seccion-about-us{
    display: flex;
    flex-direction: column;
    width: 60%;
}

div.about-us .seccion-about-us img.img-about-us {
    width: 100%;
}


/* ==========================================================================
   RESOLUCION: 1024 hacia abajo
   ========================================================================== */
@media (max-width: 1024px) {
    div.about-us .seccion-about-us {
        width: 80%;
    }
}

/* ==========================================================================
   RESOLUCION: 950 hacia abajo
   ========================================================================== */
@media (max-width: 950px) {
    body .about-us{
        /* Display & Box Model */
        padding-top: 5rem;
        padding-bottom: 3%;
    }
}