/* ==========================================================================
   GENERAL -LOGIN-REGISTER
   ========================================================================== */
.hola{
       height:100%;
       overflow: hidden;
   }

   body .login-register{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}
.login-register .titulo-perfil{
    display: flex;
    justify-content: center;
}
.login-register .titulo-perfil h1{
    text-align: center;
}
.login-register .perfil-total .perfil-derecha .compras-perfil h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.formulario-perfil{
    display:none;
    width:40%;
    position:fixed;
    background-color: whitesmoke;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.login-register .perfil-total{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.login-register .perfil-total .perfil-izquierda{
    width: 25%;
}
.login-register .perfil-total .perfil-derecha{
    width: 55%;
}
.login-register .perfil-total .perfil-izquierda li{
    list-style: none;
}
.login-register .perfil-total .perfil-izquierda .datos-personales{
    display:flex;
    justify-content: space-between;
    padding-inline-start: 6%;
    padding-inline-end: 6%;
}
.login-register .perfil-total .perfil-izquierda hr{
    width:90%;
}
.login-register .perfil-total .perfil-izquierda a{
    width:60%;
    color:white;
    background-color: #DAA520;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.login-register .perfil-total .perfil-izquierda a:hover{
    cursor: pointer;
}
.invisible-eliminar-usuario{
    display:none;
    width:100%;
    flex-direction: column;
    align-items: center;
}
.showFlex{
    display:flex;
}
.login-register .formulario-perfil form.formulario div.campo-input .invisible-eliminar-usuario p{
    margin-block-start: -1em;
    text-align: center;
}
.login-register .formulario-perfil form.formulario div.campo-input .invisible-eliminar-usuario .modificar-datos{
    margin-bottom: 15px;
}
.login-register .formulario-perfil form.formulario div.campo-input .invisible-eliminar-usuario .eliminar-usuario-container {
    width: 85%;
    display:flex;
    justify-content: space-evenly;
}
.login-register .formulario-perfil form.formulario div.campo-input .invisible-eliminar-usuario .eliminar-usuario-container .boton-eliminar{
    width: 45%;
}
.showModificar {
    display: inline-block;
  }
.login-register .formulario-perfil form.formulario div.campo-input{
    margin-top: 20px;
}
.login-register .formulario-perfil form.formulario div.campo-input input.input-registro, 
.login-register .formulario-perfil form.formulario div.campo-input button.input-button {
    width: 85%;
}
.login-register .formulario-perfil .campo1{
    margin-top: 30px;
}
.login-register .formulario-perfil form.formulario div.campo-input button.ultimoCampo{
    margin-bottom: 30px;
    background-color: red;
    opacity: 0.6;
}
.login-register .formulario-perfil form.formulario div.campo-input button.modificar-datos{
    background-color: blue;
    opacity: 0.6;
}
.cerrar-modificar:hover{
    cursor: pointer;
}
.cerrar-modificar{
    display: inline-block;
    float:right;
    margin-right: 12px;
    margin-top: 12px;
}
.login-register .perfil-total .perfil-derecha hr{
    width: 85%;
}
.login-register .perfil-total .perfil-derecha .compras-perfil{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.login-register .perfil-total .perfil-derecha .compras-perfil img{
    width: 130px;
    border-radius: 5px;
}
.login-register .perfil-total .perfil-derecha .compras-perfil a{
    color: white;
    background-color: orange;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.compras-perfil a:hover{
    cursor: pointer;
}

.login-register .formulario-perfil .invisible{
    height: 125vh;
    width: 127vw;
    background-color: black;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
    opacity: .5;
    margin-top: -30vh;
    margin-left: -30vw;
}
.login-register .formulario-perfil .form-perfil{
    background-color: whitesmoke;
    border-radius: 8px;
}
.login-register .formulario-perfil .form-perfil .fa-times-circle{
    color: #DAA520;
}
@media(min-width: 1025px) and (max-width: 1400px){
    .login-register .formulario-perfil{
        width: 57%;
    }
    .login-register .perfil-total .perfil-izquierda{
        width: 35%;
    }
}
@media(max-width: 1024px){
    .login-register .perfil-total{
        flex-direction: column-reverse;
        align-items: center;
    }
    .login-register .formulario-perfil{
        width: 57%;
    }
    .login-register .perfil-total .perfil-izquierda{
        width: 50%;
    }
    .login-register .perfil-total .perfil-derecha{
        width: 90%;
    }
}
@media(max-width: 950px){
    .login-register .titulo-perfil{
        margin-top: -95px;
    }

}
@media(max-width: 650px){
    .login-register .perfil-total .perfil-izquierda{
        width: 75%;
    }
    .login-register .perfil-total .perfil-derecha .compras-perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-register .perfil-total .perfil-derecha .compras-perfil img{
        margin-top: 20px;
    }
    .login-register .perfil-total .perfil-derecha .compras-perfil h3{
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}
@media(min-width: 480px) and (max-width: 768px){
    .login-register .formulario-perfil{
        width: 80%;
    }
}
@media(max-width: 479px){
    .login-register .formulario-perfil{
        width: 94%;
    }
    .login-register .perfil-total .perfil-izquierda{
        width: 90%;
    }
}