/* ==========================================================================
   GENERAL
   ========================================================================== */
body .products-catalogo{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}
/* ==========================================================================
   SECCION FILTRAR y MOSTRAR PRODUCTO
   ========================================================================== */
.products-catalogo main.seccion-filtro-muestra-productos {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.products-catalogo .seccion-filtro-muestra-productos section.columna-filtro {
    width: 15%;
}

.products-catalogo .seccion-filtro-muestra-productos section.columna-productos {
    width: 83%;
    height: 100%;
}
/* ==========================================================================
   FILTROS
   ========================================================================== */
.products-catalogo .seccion-filtro-muestra-productos .columna-filtro div.filtro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 15%;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro button.agregarProducto {
    /* Display & Box Model */
    align-self: center;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 80%;

    /* Otras */
    cursor: pointer;
    background-color: rgb(10, 9, 9);
    color: white;
    border: 0;
    border-radius: 8px;
}



.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro button.agregarProducto:hover {
    background-color: rgb(27, 27, 27);
}

.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro .agregarProducto i.fa-plus,
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .btn-agregarAlCarrito i.fa-plus {
    color: #DAA520;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro select.select-ordenar {
    /* Display & Box Model */
    width: 100%;
    height: 40px;
    padding-left: 4%;

    /* Otras */
    border-radius: 5px;
    border: 0px solid black;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    font-size: 14px;
    font-weight: 400;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro a.tituloFiltro {
    /* Display & Box Model */
    width: 100%;

    /* Otras */
    cursor: pointer;
    font-size: medium;
    text-transform: uppercase;
}

.cerveceriasDropDown {
    display: none;
    margin-bottom: 4%;
    flex-direction: column;
    justify-content: center;
}

.showModificarFiltros {
    display: flex;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro .cerveceriasDropDown h4 {
    margin: 0 0 0 5%;
}

/* ==========================================================================
   SECCION - PRODUCTOS - /productAdmin
   ========================================================================== */
.products-catalogo .seccion-filtro-muestra-productos section.columna-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-right: 1%;
    margin-left: 1%;
}

/* ==========================================================================
   ARTICLE - PRODUCTO
   ========================================================================== */
.products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
    /* Display & Box Model */
    width: 310px;
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* Posicionamiento */
    position: relative;

    /* Otras */
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    overflow: hidden;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
    /* Display & Box Model */
    width: 100%;
    height: 310px;

    /* Otras */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto h4.nombre-producto-collection,
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto h4.nombre-producto-productAdmin {
    /* Display & Box Model */
    text-align: center;
    margin-top: 0px;

    /* Otras */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto h4.nombre-producto-collection {
    margin: 0;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .borrarProducto {
    width: 100%;
    position: absolute;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto, 
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
    /* Display & Box Model */
    display: none;
    width: 90%;
    padding: 10px;

    /* Posicionamiento */
    top: 133px;

    /* Otras */
    background: rgb(71, 73, 211);
    color: white;
    border-radius: 9px;
    border: 0;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
    /* Posicionamiento */
    margin-top: 171px;
    margin-left: 5%;

    /* Otras */
    background: rgb(184, 20, 20);
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto:hover button.modificar-producto,
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto:hover button.eliminar-producto {
    /* Display & Box Model */
    display: inline-block;

    /* Otras */
    cursor: pointer;
    transition: 1;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto:hover button.modificar-producto {
    /* Posicionamiento */
    position: absolute;
    z-index: 9;
}

/* ==========================================================================
   SECCION - PRODUCTOS - COLLECION /products
   ========================================================================== */
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto div.precio-stock {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock .precio,
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock .stock {
    width: 100%;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock h4.precio, 
.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock h5.stock {
    margin-top: 2px;
    margin-bottom: 2px;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock h5.stock {
    color: green;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto .precio-stock h5.noHay-stock {
    color: red;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.btn-agregarAlCarrito {
    /* Display & Box Model */
    width: 90%;
    padding: 10px;
    margin-bottom: 3px;

    /* Otras */
    opacity: 0;
    background: black;
    color: white;
    border-radius: 9px;
    border: 0;
}

.products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto:hover button.btn-agregarAlCarrito{
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}





/* ==========================================================================
   RESOLUCION: 1700 hacia abajo
   ========================================================================== */
   @media (max-width: 1700px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
        /* Display & Box Model */
        width: 19%;
    }
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 270px;
    }
}




/* ==========================================================================
   RESOLUCION: 1600 hacia abajo
   ========================================================================== */
   @media (max-width: 1600px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 260px;
    }
}




/* ==========================================================================
   RESOLUCION: 1500 hacia abajo
   ========================================================================== */
   @media (max-width: 1500px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 240px;
    }
}




/* ==========================================================================
   RESOLUCION: 1450 hacia abajo
   ========================================================================== */
   @media (max-width: 1450px) {
    /* ARTICLE - PRODUCTO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
        width: 23%;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 280px;
    }

}




/* ==========================================================================
   RESOLUCION: 1400 hacia abajo
   ========================================================================== */
   @media (max-width: 1400px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 270px;
    }
}





/* ==========================================================================
   RESOLUCION: 1300 hacia abajo
   ========================================================================== */
   @media (max-width: 1300px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 255px;
    }
}




/* ==========================================================================
   RESOLUCION: 1200 hacia abajo
   ========================================================================== */
   @media (max-width: 1200px) {
    /* SECCION PRODUCTOS*/
    .products-catalogo .seccion-filtro-muestra-productos section.columna-productos {
        margin-left: 3%;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 230px;
    }

    /* BUTTON, ELIMINAR - MODIFICAR */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto {
        top: 103px;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
        margin-top: 141px;
    }
}





/* ==========================================================================
   RESOLUCION: 1100 hacia abajo
   ========================================================================== */
   @media (max-width: 1100px) {
    /*BUTTON - AÑADIR AL CARRITO*/
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 210px;
    }
}





/* ==========================================================================
   RESOLUCION: 1024 hacia abajo
   ========================================================================== */
   @media (max-width: 1024px) {
    /* SELECTOR DE FILTRO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro select.select-ordenar {
        font-size: 12px;
    }

    /* TITULO - FILTRO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro a.tituloFiltro {
        font-size: small;
        width: 100%;
    }

    /* DROPDOWN - CERVECERIAS TITULO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-filtro .filtro .cerveceriasDropDown h4 {
        font-size: small;
    }

    /* ARTICLE - PRODUCTO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
        width: 31%;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 260px;
    }

    /* BUTTON, ELIMINAR - MODIFICAR */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto, 
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
        /* Display & Box Model */
        display: inline-block;
        width: 90%;
        padding: 5px;

        /* Otras */
        color: white;
        border-radius: 9px;
        border: 0;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto {
        position: absolute;
        top: 113px;
    }

    /* BUTTON, AGREGAR AL CARRITO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.agregarProducto {
        width: 100%;
        font-size: small;
    }
}





/* ==========================================================================
   RESOLUCION: 950 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
   @media (max-width: 950px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 260px;
    }

    /*BUTTON - AÑADIR AL CARRITO*/
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.btn-agregarAlCarrito {
        opacity: 1;
    }
}


/* ==========================================================================
   RESOLUCION: 850 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
   @media (max-width: 850px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 215px;
    }
}





/* ==========================================================================
   RESOLUCION: 768 hacia abajo
   ========================================================================== */
@media (max-width: 768px) {
    /* BODY */
    body .products-catalogo {
        padding-top: 5rem;
    }

    /* SECCION FILTRO + TODOS LOS PRODUCTOS */
    .products-catalogo main.seccion-filtro-muestra-productos {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    /* SECCION - FILTROS */
    .products-catalogo .seccion-filtro-muestra-productos section.columna-filtro {
        width: 100%;
    }
    
    /* SECCION PRODUCTOS */
    .products-catalogo .seccion-filtro-muestra-productos section.columna-productos {
        width: 95%;
        margin-left: 5%;
        margin-right: 0;
    }
    
    /* DIV DE CADA FILTRO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-filtro div.filtro {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 94%;
        justify-content: center;
        margin-right: 3%;
        margin-left: 3%;
    }

    /* DROPDOWN - CERVECERIAS TITULO */
    .cerveceriasDropDown {
        width: 100%;
        align-items: flex-start;
        margin-bottom: 0;
    }

    /* ARTICLE - PRODUCTO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
        width: 45%;
    }
    
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 320px;
    }


    /* BUTTON, ELIMINAR - MODIFICAR */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto {
        top: 143px;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
        margin-top: 171px;
    }
}





/* ==========================================================================
   RESOLUCION: 650 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
   @media (max-width: 650px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 270px;
    }
}





/* ==========================================================================
   RESOLUCION: 550 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
   @media (max-width: 550px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 225px;
    }
}





/* ==========================================================================
   RESOLUCION: 480 hacia abajo
   ========================================================================== */
@media (max-width: 480px) {
    /* ARTICLE - PRODUCTO */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos article.producto {
        width: 95%;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 415px;
    }

    /* BUTTON, ELIMINAR - MODIFICAR */
    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.modificar-producto {
        top: 173px;
    }

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto button.eliminar-producto {
        margin-top: 200px;
    }
}





/* ==========================================================================
   RESOLUCION: 400 hacia abajo
   ========================================================================== */
   @media (max-width: 400px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 345px;
    }

}





/* ==========================================================================
   RESOLUCION: 350 hacia abajo
   ========================================================================== */
   @media (max-width: 350px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 300px;
    }

}





/* ==========================================================================
   RESOLUCION: 300 hacia abajo
   ========================================================================== */
   @media (max-width: 300px) {

    .products-catalogo .seccion-filtro-muestra-productos .columna-productos .producto img {
        /* Display & Box Model */
        height: 250px;
    }

}