/* ==========================================================================
   RESET GENERAL
   ========================================================================== */
   body {
    /* Display & Box Model */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    /* Otras */
    background-color: rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* ==========================================================================
   GENERAL -LOGIN-REGISTER
   ========================================================================== */
body .products-catalogo{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}
/* ==========================================================================
   SECCION FILTRAR y MOSTRAR PRODUCTO
   ========================================================================== */
.seccion-filtro-muestra-productos {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.columna-filtro {
    width: 15%;
}

.columna-productos {
    width: 83%;
    height: 100%;
}
/* ==========================================================================
   FILTROS
   ========================================================================== */
.filtro {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.agregarProducto {
    cursor: pointer;
    background-color: rgb(10, 9, 9);
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.agregarProducto:hover {
    background-color: rgb(27, 27, 27);
}

i.fa-plus {
    color: #DAA520;
}

select.select-ordenar {
    /* Display & Box Model */
    width: 100%;
    height: 40px;
    padding-left: 4%;

    /* Otras */
    border-radius: 5px;
    border: 0px solid black;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    font-size: 14px;
    font-weight: 400;
}

a.tituloFiltro {
    cursor: pointer;
    font-size: medium;
    width: 100%;
    text-transform: uppercase;
}

/*esto va en none*/
.cerveceriasDropDown {
    display: none;
    margin-bottom: 4%;
    flex-direction: column;
    justify-content: center;
}

.cerveceriasDropDown h4 {
    margin: 0 0 0 5%;
}

.showModificarFiltros {
    display: flex;
}
/* ==========================================================================
   SECCION - PRODUCTOS
   ========================================================================== */
.columna-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 20%;
    position: relative;
    border: 1px solid rgb(184, 184, 184);
    margin: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
}

.producto img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.producto h4.nombre-producto {
    text-align: center;
    word-break: break-all;
    margin: 0;
    margin-top: 5px;
}

.modificar-producto, 
.eliminar-producto {
    display: none;
    top: 120px;
    width: 90%;
    padding: 10px;
    background: rgb(71, 73, 211);
    color: white;
    border-radius: 9px;
    border: 0;
}

.eliminar-producto {
    top: 180px;
    background: rgb(184, 20, 20);
}

.producto:hover .modificar-producto,
.producto:hover .eliminar-producto {
    position: absolute;
    cursor: pointer;
    transition: 0.3;
    display: inline-block;
}