/* ==========================================================================
   RESET GENERAL
   ========================================================================== */
   body {
    /* Display & Box Model */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    /* Otras */
    background-color: rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* ==========================================================================
   GENERAL -LOGIN-REGISTER
   ========================================================================== */
body .products-catalogo{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}
/* ==========================================================================
   SECCION  ORDENAR y AGREGAR PRODUCTO
   ========================================================================== */
.seccion-ordenar-agregarProducto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.ordenamiento {
    width: 90%;
}

.agregarProducto {
    width: 10%;
}

/* ==========================================================================
   SECCION FILTRAR y MOSTRAR PRODUCTO
   ========================================================================== */
.seccion-filtro-muestra-productos {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.columna-filtro {
    width: 25%;
}

.columna-productos {
    width: 75%;
}

/*
CERVECERIAS
PROVINCIA DE ORIGEN
FAMILIA
VOLUMEN
PRECIOS*/