/* ==========================================================================
   GENERAL
   ========================================================================== */
body div.container-carrito {
  padding-top: 1rem;
}

/* ==========================================================================
   TITULO
   ========================================================================== */
.container-carrito h1.titulo {
  /* Display & Box Model */
  margin-top: 110px;
  margin-bottom: 50px;

  /* Otras */
  text-align: center;
}

/* ==========================================================================
   SECCION PRODUCTOS DEL CARRITO Y RECUADRO
   ========================================================================== */
.container-carrito div.productos-carrito {
  display: flex;
  justify-content: space-around;
}

.container-carrito div.productos-carrito div.productos div.producto-carrito {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ==========================================================================
   SECCION PRODUCTOS FILAS
   ========================================================================== */
.container-carrito .productos-carrito div.productos {
  width: 60vw;
}

.tagsEspecificosDeProductos {
  margin: 0;
  width: 100%;
}

.tagsEspecificosDeProductos h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: large;
}

.formBorrarProducto {
  align-self: flex-end;
}

.btnBorrarProducto {
  padding: 5px 30px 5px 30px;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: initial;
}

.btnBorrarProducto:hover{
  cursor: pointer;
}

#stockProducto {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  width: 5%;
}

.container-carrito
  div.productos-carrito
  div.productos
  div.producto-carrito
  img.producto-imagen-carrito {
  /* Display & Box Model */
  width: 140px;
  height: 140px;

  /* Otras */
  border-radius: 15px;
}

.container-carrito .productos-carrito .productos hr.hr-carrito {
  /* Display & Box Model */
  margin-left: 8%;
  margin-top: 20px;
  margin-bottom: 20px;

  /* Otras */
  border: solid 1px black;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .estilo-letras-producto {
  word-break: break-word;
  text-align: center;
  font-weight: 400;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .deleteProduct {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #daa520;
  font-size: larger;
  color: black;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .deleteProduct:hover{
  color: red;
}

.container-carrito .form-equis {
  width: 0;
}

.container-carrito .producto-nombre {
  width: 20%;
}
.container-carrito .producto-precio {
  width: 15%;
}

.container-carrito .producto-precio-total{
width: 20%;
}


/* ==========================================================================
   SECCION RECUADRO DE TOTAL
   ========================================================================== */
.container-carrito .productos-carrito .recuadro-total {
  width: 18%;
  height: 500px;
  position: relative;
  /*  position:fixed;
    margin-left: 65%;
    border:solid 1px black; */
  z-index: 1;
}

.container-carrito .productos-carrito .recuadro-total .recuadro-total-chico {
  margin: 10%;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  .recuadro-carrito {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  .hr-recuadro {
  border: 1px solid black;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  .recuadro-carrito
  h4.btn-cambiar-direccion {
  color: #daa520;
}

.container-carrito .productos-carrito .recuadro-total .recuadro-total-chico a {
  text-decoration: none;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  a
  h4.boton-pagar {
  /* Display & Box Model */
  width: 100%;

  /* Otras */
  color: white;
  background-color: #daa520;
  text-align: center;
  border-radius: 6px;
}

/* ==========================================================================
   SECCION CUPON
   ========================================================================== */
.container-carrito .cupones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 8%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-carrito .cupones input {
  height: 40px;
  border-radius: 8px;
}

.container-carrito .cupones a {
  margin-left: 20px;
  color: black;
}

.container-carrito .cupones a p {
  padding: 10px;
  margin-left: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.container-carrito .cupones p:hover {
  color: white;
  background-color: #daa520;
  border-radius: 8px;
}

/* ==========================================================================
   PRODUCTOS RELACIONADOS
   ========================================================================== */
.titulo-productosRelacionado {
  /* Display & Box Model */
  margin-top: 20px;

  /* Otras */
  text-align: center;
}

/* ==========================================================================
   BLOQUE - PRODUCTOS
   ========================================================================== */
section.productos {
  /* Display & Box Model */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.sumar-restar-cantidad {
  text-decoration: none;
  color: #daa520;
}
section.productos article.producto {
  /* Display & Box Model */
  width: 22%;
  margin: 1% 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  /* Otras */
  background-color: white;
  text-align: center;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 15px;
  box-shadow: 3px 3px rgba(163, 163, 163, 0.295);
  transition: 0.3s;
}

section.productos div.btnAnt {
  align-self: center;
  margin-left: 1%;
  display: inline-block;
}

section.productos div.btnSig {
  align-self: center;
  margin-right: 1%;
  display: inline-block;
}

section.productos article.producto img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

/* ==========================================================================
   PRODUCTO - PRECIO -STOCK
   ========================================================================== */
section.productos article.producto h2.producto-titulo {
  font-size: large;
  margin-right: 3%;
  margin-left: 3%;
}

section.productos article.producto div.precio-stock {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

section.productos article.producto div.precio-stock div h4.etiqueta-precio {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

section.productos article.producto div.precio-stock div h5.etiqueta-stock {
  float: right;
  color: rgb(1, 122, 1);
  margin-top: 0;
  margin-bottom: 0;
}

/* ==========================================================================
   PRODUCTO - BUTTON AÑADIR AL CARRITO
   ========================================================================== */
section.productos article.producto button.btn-producto {
  /* Display & Box Model */
  padding: 10px;
  width: 80%;
  margin-bottom: 3%;

  /* Otras */
  background-color: black;
  color: white;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 10px;
}

section.productos article.producto button.hoverproducto {
  opacity: 0;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 4%;
  align-self: center;
  transition: 0.2s;
}

section.productos article.producto:hover button.hoverproducto {
  opacity: 1;
  margin-bottom: 4%;
}

/* ==========================================================================
   PRODUCTO - BUTTON SIGUIENTE/PREVIO
   ========================================================================== */

section.productos article.producto button.btn-producto i.fa-plus {
  color: #daa520;
}

section.productos div.btnAnt i.fa-chevron-circle-left,
section.productos div.btnSig i.fa-chevron-circle-right {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  color: #daa520;
  font-size: 45px;
}

section.productos div.btnAnt i.fa-chevron-circle-left:hover,
section.productos div.btnSig i.fa-chevron-circle-right:hover {
  background-color: rgb(0, 0, 0);
  color: #ffd56cd7;
}


/* ==========================================================================
   RESOLUCION: 950 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
@media (max-width: 950px) {
  /*BUTTON - AÑADIR AL CARRITO - PRODUCTOS RELACIONADOS*/
  section.productos article.producto button.hoverproducto {
    opacity: 1;
  }
  .container-carrito .cupones p {
    color: white;
    background-color: #daa520;
    border-radius: 8px;
  }
}

/* ==========================================================================
   RESOLUCION 1700 HACIA ARRIBA
   ========================================================================== */
@media (min-width: 1700px) {
  /*RECUADRO TOTAL*/
  .productos-carrito .recuadro-total {
    width: 18%;
  }
}

/* ==========================================================================
   RESOLUCION 1450-1700
   ========================================================================== */
@media (min-width: 1450px) and (max-width: 1699px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 25%;
  }
}

/* ==========================================================================
   RESOLUCION 1200-1450
========================================================================== */
@media (min-width: 1200px) and (max-width: 1449px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 30%;
  }

  .container-carrito .productos-carrito div.productos {
    width: 65vw;
  }

  .tagsEspecificosDeProductos h3 {
    font-size: 1.1em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.95em;
  }

  #stockProducto {
    font-size: 0.9em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.5em;
  }
}

/* ==========================================================================
   RESOLUCION 1024-1200
   ========================================================================== */
@media (min-width: 1024px) and (max-width: 1199px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 30%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 1em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding: 5px 18px 5px 18px;
  }

  #stockProducto {
    font-size: 0.9em;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 100px;
    height: 100px;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto.producto-precio {
    text-align: left ;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.4em;
  }
  
}

/* ==========================================================================
   RESOLUCION 768-1024
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /*SECCION PRODUCTOS FILA*/
  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 1.2em;
  }

  .btnBorrarProducto {
    font-size: 1em;
  }

  #stockProducto {
    font-size: 1.1em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: large;
  }

  

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.4em;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 80px;
    margin-left: 9.5%;
  }
}

/* ==========================================================================
   RESOLUCION 480-768
   ========================================================================== */
@media (min-width: 525px) and (max-width: 767px) {

  body div.container-carrito {
    padding-top: 0;
  }

  .container-carrito h1.titulo {
  /* Display & Box Model */
    margin-top: 50px;
    margin-bottom: 10px;
  }


  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 0.95em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
  }

  #stockProducto {
    font-size: 1em;
    padding: 5px 0 5px 0;
  }

  

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.2em;
    width: 30px;
    height: 30px;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 90px;
    height: 90px;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 80px;
    margin-left: 9.5%;
  }
  
  
}

/* ==========================================================================
   RESOLUCION 0-479
   ========================================================================== */
@media (max-width: 524px) {
  body div.container-carrito {
    padding-top: 0;
  }

  .container-carrito h1.titulo {
  /* Display & Box Model */
    margin-top: 50px;
    margin-bottom: 10px;
  }


  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  

  .formBorrarProducto {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 0.95em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
  }

  #stockProducto {
    font-size: 1em;
    padding: 5px 0 5px 0;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-carrito div.productos-carrito div.productos div.tagsEspecificosDeProductos{
    flex-direction: row; 
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 50%;
    height: 100%;
    margin: 10px 0px 10px 0px;
  }

  .container-carrito .producto-nombre {
    width: 50%;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.2em;
    width: 81%;
    border-radius: 8px;
    height: 30px;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto.producto-nombre {
    margin-bottom: 10px;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }


  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 15px;
  }



  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*DIRECCION DEL RECUADRO*/
  .container-carrito
    .productos-carrito
    .recuadro-total
    .recuadro-total-chico
    .recuadro-carrito
    h4.direccion-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 0px;
  }

  .divPrecioCantidadSubtotalMobil {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
  }

  .divMobilPrecioCantidadTotal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
}
/* ==========================================================================
   RESOLUCION 0-400
   ========================================================================== */
@media (max-width: 400px) {
  .container-carrito .cupones a {
    margin-left: -3px;
    margin-top: 8px;
  }
}

