.verify-account-body{
    overflow: hidden;
}
div.verify-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    margin-bottom: -30px;
}
.verify-account h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
}
.verify-account img{
    width: 550px;
    margin-bottom: 50px;
}
.verify-account button{
        /* Display & Box Model */
        padding: 10px;
        display: block;
        height: 40px;
        width: 12%;
        
    
        /* Otras */
        cursor: pointer;
        background-color: #DAA520;
        border: 0px solid black;
        font-size: large;
        border-radius: 5px;
        color: white;
}
.verify-account .fa-chevron-left{
    font-size: medium;
    transition: 0.4s;
}
.verify-account button:hover .fa-chevron-left{
    padding-right: 4px;
} 
@media (max-width: 1600px){
    .verify-account button{
        /* Display & Box Model */
        width: 21%;
    }
}


   @media (max-width: 949px){
    div.verify-account{
        padding-top: 70px;
    }
}

    @media (max-width: 768px){
    .verify-account img{
        width: 500px;
    }
    .verify-account button{
        /* Display & Box Model */
        width: 180px;
    }
    .verify-account button:hover .fa-chevron-left{
        padding-right: 0px;
    }
}
    @media (max-width: 550px){
        .verify-account img{
            width: 300px;
        }
        .verify-account button{
            margin-bottom: 30px;
        }
        .verify-account-body{
            overflow: visible;
        }
        .verify-account h1{
            font-size: x-large;
        }
    }
    @media (max-width: 350px){
        .verify-account img{
            width: 250px;
        }
    }