.barney {
    position: absolute;
    width: 60px;
    height: 50px;
    bottom: 0px;
}

.obstacle {
    background-image: url("/images/game/moe.png");
    background-size: 60px 60px;
    position: absolute;
    width: 60px;
    height: 60px;
    
    bottom: 0;
}