/* ==========================================================================
   GENERAL -LOGIN-REGISTER
   ========================================================================== */

body .login-register{
    /* Display & Box Model */
    padding-top: 10rem;
    padding-bottom: 3%;
}

.formulario-total{
    display:none;
    width:40%;
    position:fixed;
    background-color: whitesmoke;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border: 1px solid black;
    border-radius: 8px;
}
.perfil-total{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.perfil-izquierda{
    width: 25%;
}
.perfil-derecha{
    width: 55%;
}
.perfil-izquierda li{
    list-style: none;
}
.datos-personales{
    display:flex;
    justify-content: space-between;
    padding-inline-start: 6%;
    padding-inline-end: 6%;
}
.perfil-izquierda hr{
    width:90%;
}
.perfil-izquierda a{
    width:60%;
    color:white;
    background-color: #DAA520;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.perfil-izquierda a:hover{
    cursor: pointer;
}
.showModificar {
    display: inline-block;
/*     max-height: 100%;
    overflow: hidden; */
  }
.login-register .formulario-total form.formulario div.campo-input input.input-registro, 
.login-register .formulario-total form.formulario div.campo-input button.input-button {
    width: 85%;
}
.campo1{
    margin-top: 30px;
}
.cerrar-modificar:hover{
    cursor: pointer;
}
.cerrar-modificar{
    display: inline-block;
    float:right;
    margin-right: 12px;
    margin-top: 12px;
}
.login-register .formulario-total form.formulario div.campo-input button.ultimoCampo{
    margin-bottom: 30px;
    background-color: red;
    opacity: 0.6;
}
.login-register .formulario-total form.formulario div.campo-input button.modificar-datos{
    background-color: blue;
    opacity: 0.6;
}

@media(min-width: 769px) and (max-width: 1400px){
    .formulario-total{
        width: 57%;
    }
}
@media(min-width: 480px) and (max-width: 768px){
    .formulario-total{
        width: 80%;
    }
}
@media(max-width: 479px){
    .formulario-total{
        width: 94%;
    }
}
.perfil-derecha hr{
    width: 85%;
}
.compras-perfil{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.compras-perfil img{
    width: 130px;
    border-radius: 5px;
}
.compras-perfil h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.compras-perfil a{
    color: white;
    background-color: orange;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.compras-perfil a:hover{
    cursor: pointer;
}
.compras-perfil-completas{
    display:flex;
    flex-direction: column;
}
.compras-total{
    display: flex;
    justify-content: space-between;
}