.container-users{
    width:80%;
    margin-left: 10%;
}
.container-users h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 10px;
}
.container-users h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}
.usuarios-listaCompleta{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.button-enteros{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    margin-top:10px;
}
.button-enteros:hover{
    cursor: pointer;
}
.button-eliminar{
    background-color: red;
}
.button-modificar{
    background-color: blue;
}
.container-input{
    display: flex;
    margin-bottom: 10px;
}
.container-input input{
    border-radius: 7px;
}