.container-users{
    width:80%;
    margin-left: 10%;
}
.container-users h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 10px;
    word-break: break-all;
}
.container-users h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}
.usuarios-listaCompleta{
    display:flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.button-enteros{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    margin-top:10px;
}
.button-enteros:hover{
    cursor: pointer;
}
.button-eliminar{
    background-color: red;
}
.invisible-eliminar-usuario p{
    text-align: center;
}
.button-modificar{
    background-color: blue;
}
.container-input{
    display: flex;
    margin-bottom: 10px;
}
.container-input input{
    border-radius: 7px;
}
.usuarios-lista{
    margin-bottom: 30px;
    width: 45%;
}
.eliminar-usuario-container {
    width: 85%;
    display:flex;
    justify-content: space-evenly;
}
@media(max-width:1000px){
    .usuarios-listaCompleta{
        width:98vw;
    }
    .container-users{
        width:100%;
        margin-left: 0px;
    }
}
@media(max-width:1000px){
    .usuarios-listaCompleta{
        width:98vw;
        flex-direction: column-reverse;
        align-items: center;
    }
    .usuarios-lista{
        width:95%;
    }
}