/* ==========================================================================
   PADDING TOP PARA ALEJAR EL CONTENIDO DEL NAV
   ========================================================================== */
div.container-error {
  padding-top: 155px;
}

/* ==========================================================================
   CONTAINER GENERAL
   ========================================================================== */
.container-error div.container-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-error div.container-titulo h1 {
  margin-top: 15px;
  text-align: center;
}
.container-error img {
  width: 700px;
}
.container-error button {
  /* Display & Box Model */
  padding: 10px;
  display: block;
  height: 40px;
  width: 12%;

  /* Otras */
  cursor: pointer;
  background-color: #daa520;
  border: 0px solid black;
  font-size: large;
  border-radius: 5px;
  color: white;
}
.container-error .fa-chevron-left {
  font-size: medium;
  transition: 0.4s;
}
.container-error button:hover .fa-chevron-left {
  padding-right: 4px;
}
/* ==========================================================================
   RESOLUCION 0-950PX
   ========================================================================== */
@media (max-width: 1600px) {
  .container-error button {
    /* Display & Box Model */
    width: 21%;
  }
}

@media (max-width: 949px) {
  div.container-error {
    padding-top: 70px;
  }

}

@media (max-width: 768px) {
  .container-error img {
    width: 500px;
  }

  .container-error button {
    /* Display & Box Model */
    width: 180px;
  }

  .container-error button:hover .fa-chevron-left {
    padding-right: 0px;
  }

}

@media (max-width: 550px) {
  .container-error img {
    width: 300px;
  }
  
  .container-error h1 {
    font-size: x-large;
  }

}

@media (max-width: 350px) {
  .container-error img {
    width: 250px;
  }
}
