/*----------NAV BAR----------*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav1 .nav-backgc {
  height: 140px;
  position: fixed;
  width: 100%;
  transition: 0.4s;
  z-index: 9;
  backdrop-filter: blur(1rem);
  background-color: #daa520;
}

.nav1 .nav-backgc .container-nav {
  width: 80%;
  margin-left: 10%;
  position: fixed;
  z-index: inherit 9;
}

.nav1 .nav-backgc .container-nav .navbar img.logonav {
  max-width: 65px;
  padding: 10px 0px 2px 0px;
  position: relative;
  float: left;
  margin-top: -5px;
  display: none;
}

.logo {
  max-width: 65px;
  padding: 10px 0px 2px 0px;
}

.nav1 .nav-backgc .container-nav .navbar nav {
  width: 100%;
  padding-bottom: 2px;
}

.nav1 .nav-backgc .container-nav .navbar ul {
  padding: 0;
  list-style: none;
}

.nav1 .nav-backgc .container-nav .navbar li {
  display: inline-block;
  margin: 0px 22px;
  position: relative;
}

.profile-icon .fa-user-circle {
  display: none;
}

.nav1 .nav-backgc .container-nav .navbar a {
  text-decoration: none;
  color: #fff;
}

.nav1 .nav-backgc .container-nav .navbar a {
  color: #fff;
}

.nav1 .nav-backgc .container-nav .navbar a:hover {
  color: rgb(218, 216, 216);
}

.nav1 .nav-backgc .container-nav .navbar nav .barra {
  margin-top: 27px;
}

.nav1 hr {
  opacity: 20%;
}

.nav1 .nav-backgc .container-nav .navbar .navcarrito .login-carrito {
  font-size: 18px;
}

.nav1 .nav-backgc .container-nav .navbar .navcarrito {
  display: flex;
  float: right;
  position: fixed;
  right: 5%;
  margin-top: -35px;
  transition: 0.3s;
}

.nav1 .nav-backgc .container-nav .navbar .navlogin {
  float: right;
  display: flex;
  position: fixed;
  right: 1.5%;
  margin-top: -35px;
  transition: 0.3s;
}
.nav1
  .nav-backgc
  .container-nav
  .navbar
  .navcarrito
  .btn-hamburguesa
  a.hamburguesa-icono {
  display: none;
  color: white;
}

.nav1
  .nav-backgc
  .container-nav
  .navbar
  .navcarrito
  .btn-hamburguesa
  a.hamburguesa-icono:hover {
  color: rgb(218, 216, 216);
}

/* ==========================================================================
DROPDOWN MENU
========================================================================== */
.dropdownMenu {
  position: absolute;
  display: none;
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 2px 2px rgba(163, 163, 163, 0.295);
  cursor: default;
}

.dropdownBoton:hover > .dropdownMenu {
  display: flex;
}

.dropdownMenu a {
  display: flex !important;
  flex-direction: column !important;
  width: 35% !important;
  color: black !important;
  border-radius: 5px !important;
  margin-block-start: 0.5em !important;
  height: 100px !important;
}

.dropdownMenu a h3 {
  margin-block-start: 16px !important;
  margin-block-end: -9.5px !important;
}

/* ==========================================================================
MENU HAMBURGUESA MOBILE
========================================================================== */
.nav1 .nav-backgc div.mobile-hamburguesa-menu {
  position: absolute;
  height: 96vh;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  top: 80px;
  left: -350px;
  z-index: 9;
  transition: 0.4s;
}

.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  .hamburguesa-top
  div.hamburguesa-menu {
  margin: 6px;
}
.nav1 .nav-backgc .mobile-hamburguesa-menu div.hamburguesa-margin {
  margin: 2%;
}
.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  div.hamburguesa-top {
  display: flex;
  justify-content: space-between;
}
.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  div.hamburguesa-items {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 4%;
}
.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  .hamburguesa-items
  a.hamburguesa-item {
  color: #daa520;
  display: inline-block;
  margin-bottom: 7px;
  transition: 0.4s;
}

.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  .hamburguesa-items
  a.hamburguesa-item:hover {
  color: #796022;
}

.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  .hamburguesa-top
  .hamburguesa-menu
  .fa-times-circle {
  font-size: 25px;
  color: #daa520;
}

.nav1
  .nav-backgc
  .mobile-hamburguesa-menu
  .hamburguesa-margin
  .hamburguesa-top
  .hamburguesa-menu
  .fa-times-circle:hover {
  color: #9b2525;
}

.fa-angle-down {
  margin-top: 2px;
  transition: 0.3s;
}

.dropdownBoton:hover .fa-angle-down {
  transform: rotate(180deg);
}

.dropdown-mobile {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 20px;
}
.hamburguesa-dropdown-mobile {
  display: none;
}

.showProductos {
  display: inline-block;
}
.transform {
  transform: rotate(180deg);
}
.pointer {
  cursor: pointer;
}
.hamburguesa-items-none {
  display: none;
}
.hamburguesa-dropdown-mobile hr {
  color: black;
  margin-right: 8px;
  opacity: 100%;
}

/* ==========================================================================
SEARCH
========================================================================== */
/* The Modal (background) */
.modal-search-navbar1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 125px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 12;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animateSearchNav;
  -webkit-animation-duration: 0.4s;
  animation-name: animateSearchNav;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content-search-navbar1 {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  border: 0px;
  width: 60%;
}

.modal-content-search-navbar1 form input:focus {
  color: #daa520;
  border: 1px solid #daa520;
  outline: none;
}

.modal-content-search-navbar1 form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 25px;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes animateSearchNav {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateSearchNav {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* ==========================================================================
RESOLUCION 0-950 (CSS DEFAULT PARA EL NAV BAR Y EL HAMBURGUESA) 
========================================================================== */
@media (max-width: 1200px) {
  /* SCRIPT DE NAV BAR DESACTIVADO */

  .nav1 .nav-backgc .container-nav .navbar nav .barra {
    display: none;
  }

  .nav1 .nav-backgc {
    margin: -72px 0px 0px 0px;
  }

  .nav1 .nav-backgc .container-nav .navbar img.logonav {
    display: inline-block;
  }

  .nav1 .nav-backgc .container-nav .navbar .navcarrito {
    margin: 32px 0px 0px 0px;
    right: -5%;
  }

  .nav1 .nav-backgc .container-nav .navbar .navlogin {
    margin: 32px 0px 0px 0px;
  }

  /* ICONOS DE LA DERECHA (NAV BAR)*/
  .nav1 .nav-backgc .container-nav .navbar .navlogin li a {
    display: none;
  }

  .nav1
    .nav-backgc
    .container-nav
    .navbar
    .navcarrito
    .btn-hamburguesa
    a.hamburguesa-icono {
    display: inline-block;
    margin: 0px 20px;
  }

  /* HAMBURGUESA */
  .logo {
    padding: 10px 0px 2px 15px;
  }
  .nav1
    .nav-backgc
    .container-nav
    .navbar
    .navcarrito
    .btn-hamburguesa
    a.hamburguesa-icono:hover
    > .nav1
    .nav-backgc
    div.mobile-hamburguesa-menu {
    left: 10px;
  }

  /* Modal Content */
  .modal-search-navbar1 {
    padding-top: 50px; /* Location of the box */
  }

  .modal-content-search-navbar1 {
    width: 60%;
  }
}

/* ==========================================================================
RESOLUCION 480-768
========================================================================== */
@media (min-width: 480px) and (max-width: 767px) {
  .nav1 .nav-backgc div.mobile-hamburguesa-menu {
    width: 290px;
  }

  .nav1 .nav-backgc .container-nav .navbar li,
  .nav1
    .nav-backgc
    .container-nav
    .navbar
    .navcarrito
    .btn-hamburguesa
    a.hamburguesa-icono {
    margin: 0 12px;
  }

  /* Modal Content */
  .modal-content-search-navbar1 {
    width: 80%;
  }
}

/* ==========================================================================
RESOLUCION 0-480
========================================================================== */
@media (max-width: 479px) {
  .nav1 .nav-backgc div.mobile-hamburguesa-menu {
    width: 200px;
    /*     border-radius: 0px;
    height: 100vh; */
  }
  .nav1 .nav-backgc .container-nav .navbar .nav-items {
    display: none;
  }

  .nav1
    .nav-backgc
    .container-nav
    .navbar
    .navcarrito
    .btn-hamburguesa
    a.hamburguesa-icono {
    margin: 0 10px;
  }

  .nav1 .nav-backgc .container-nav .navbar .search {
    display: flex;
  }

  .nav1 .nav-backgc .container-nav .navbar .search {
    margin: 0 -35px;
  }

  .hamburguesa-items-none:hover {
    display: flex;
    flex-direction: column;
  }
  .nav1 .nav-backgc .container-nav .navbar center .navcarrito .btn-hamburguesa {
    right: -25px;
  }

  /* Modal Content */
  .modal-content-search-navbar1 {
    width: 80%;
  }
}
