/* ==========================================================================
   GENERAL
   ========================================================================== */
body div.container-carrito {
  padding-top: 1rem;
}

/* ==========================================================================
   TITULO
   ========================================================================== */
.container-carrito h1.titulo {
  /* Display & Box Model */
  margin-top: 110px;
  margin-bottom: 50px;

  /* Otras */
  text-align: center;
}

/* ==========================================================================
   SECCION PRODUCTOS DEL CARRITO Y RECUADRO
   ========================================================================== */
.container-carrito div.productos-carrito {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.container-carrito div.productos-carrito div.productos div.producto-carrito {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ==========================================================================
   SECCION PRODUCTOS FILAS
   ========================================================================== */
.container-carrito .productos-carrito div.productos {
  width: 60vw;
}

.tagsEspecificosDeProductos {
  margin: 0;
  width: 100%;
}

.tagsEspecificosDeProductos h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: large;
}

.formBorrarProducto {
  align-self: flex-end;
}

.btnBorrarProducto {
  padding: 5px 30px 5px 30px;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: initial;
}

.btnBorrarProducto:hover,
.btnBorrarProducto:focus{
  cursor: pointer;
  background-color: rgb(145, 24, 24);
}

.producto-cantidad {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  width: 5%;
}

.container-carrito
  div.productos-carrito
  div.productos
  div.producto-carrito
  img.producto-imagen-carrito {
  /* Display & Box Model */
  width: 140px;
  height: 140px;
  object-fit: cover;

  /* Otras */
  border-radius: 15px;
}

.container-carrito .productos-carrito .productos hr.hr-carrito {
  /* Display & Box Model */
  margin-left: 8%;
  margin-top: 20px;
  margin-bottom: 20px;

  /* Otras */
  border: solid 1px black;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .estilo-letras-producto {
  word-break: break-word;
  text-align: center;
  font-weight: 400;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .deleteProduct {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #daa520;
  font-size: larger;
  color: black;
}

.container-carrito
  .productos-carrito
  .productos
  .producto-carrito
  .deleteProduct:hover{
  color: red;
  cursor: pointer;
}

.container-carrito .form-equis {
  width: 0;
}

.container-carrito .producto-nombre {
  width: 20%;
}
.container-carrito .producto-precio {
  width: 15%;
}

.container-carrito .producto-precio-total{
width: 20%;
}


/* ==========================================================================
   SECCION RECUADRO DE TOTAL
   ========================================================================== */
.container-carrito .productos-carrito .recuadro-total {
  width: 18%;
  height: 500px;
  position: relative;
  /*  position:fixed;
    margin-left: 65%;
    border:solid 1px black; */
  z-index: 1;
}

.container-carrito .productos-carrito .recuadro-total .recuadro-total-chico {
  margin: 10%;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  .recuadro-carrito {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-carrito
  .productos-carrito
  .recuadro-total
  .recuadro-total-chico
  .hr-recuadro {
  border: 1px solid black;
}


select.select-departamento {
  width: 100%;
  border: 0;
  font-size: 1em;
  padding: 5px 0 5px 0;
}


.recuadro-carrito button.boton-pagar {
  /* Display & Box Model */
  width: 100%;

  /* Otras */
  border: 0;
  cursor: pointer;
  padding: 10px 0 10px 0;
  color: white;
  background-color: #daa520;
  text-align: center;
}

.recuadro-carrito button.boton-pagar:hover {
  background-color: #dbad37;
}



/* ==========================================================================
   SECCION MODAL
   ========================================================================== */

/* MODAL - BORRAR TODOS LOS PRODUCTOS */
.modal-deleteAllProducts {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-deleteAllProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  animation-name: animateModalContentDeleteAllProducts;
  animation-duration: 0.75s
}

.modal-content-deleteAllProducts div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.modal-content-deleteAllProducts div button {
  width: 40%;
  cursor: pointer;
  border: 0;
}

@keyframes animateModalContentDeleteAllProducts {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.closeModalDeleteAllProducts {
  color: rgb(255, 255, 255);
  border: 0;
  background-color: #daa520;
}

.closeModalDeleteAllProducts:hover,
.closeModalDeleteAllProducts:focus {
  color: black;
  background-color: #9e7c26;
}

.yes-delete-all-products {
  color: white;
  background-color: rgb(199, 16, 16);
}

.yes-delete-all-products:hover,
.yes-delete-all-products:focus {
  background-color: #8a032c;
}


/* MODAL - NO HAY PRODUCTOS */
.modalNoHayProductos {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-noHayProductos {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  animation-name: animateModalContentNoHayProductosEnElCarrito;
  animation-duration: 0.75s
}

@keyframes animateModalContentNoHayProductosEnElCarrito {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close-modal-noHayProductos {
  color: #daa520;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-noHayProductos:hover,
.close-modal-noHayProductos:focus {
  color: rgb(158, 42, 42);
  text-decoration: none;
  cursor: pointer;
}



/* ==========================================================================
   RESOLUCION: 950 hacia abajo - HOVER, ANIMACIONES
   ========================================================================== */
@media (max-width: 950px) {
  /*BUTTON - AÑADIR AL CARRITO - PRODUCTOS RELACIONADOS*/
  section.productos article.producto button.hoverproducto {
    opacity: 1;
  }
  .container-carrito .cupones p {
    color: white;
    background-color: #daa520;
    border-radius: 8px;
  }
}

/* ==========================================================================
   RESOLUCION 1700 HACIA ARRIBA
   ========================================================================== */
@media (min-width: 1700px) {
  /*RECUADRO TOTAL*/
  .productos-carrito .recuadro-total {
    width: 18%;
  }
}

/* ==========================================================================
   RESOLUCION 1450-1700
   ========================================================================== */
@media (min-width: 1450px) and (max-width: 1699px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 25%;
  }
}

/* ==========================================================================
   RESOLUCION 1200-1450
========================================================================== */
@media (min-width: 1200px) and (max-width: 1449px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 30%;
  }

  .container-carrito .productos-carrito div.productos {
    width: 65vw;
  }

  .tagsEspecificosDeProductos h3 {
    font-size: 1.1em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.95em;
  }

  .producto-cantidad {
    font-size: 0.9em;
    width: 6%;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.5em;
  }


}

/* ==========================================================================
   RESOLUCION 1024-1200
   ========================================================================== */
@media (min-width: 1024px) and (max-width: 1199px) {
  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 30%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 1em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding: 5px 18px 5px 18px;
  }

  .producto-cantidad {
    font-size: 0.9em;
    width: 8%;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 100px;
    height: 100px;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto.producto-precio {
    text-align: center ;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.4em;
  }


  .modal-content-deleteAllProducts {
    width: 40%;
  }
  
}

/* ==========================================================================
   RESOLUCION 768-1024
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /*SECCION PRODUCTOS FILA*/
  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 1.2em;
  }

  .btnBorrarProducto {
    font-size: 1em;
  }

  .producto-cantidad {
    font-size: 1.1em;
    width: 7%;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: large;
  }

  

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.4em;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 80px;
    margin-left: 9.5%;
  }


  .modal-content-deleteAllProducts {
    width: 40%;
  }
}

/* ==========================================================================
   RESOLUCION 480-768
   ========================================================================== */
@media (min-width: 525px) and (max-width: 767px) {

  body div.container-carrito {
    padding-top: 0;
  }

  .container-carrito h1.titulo {
  /* Display & Box Model */
    margin-top: 50px;
    margin-bottom: 10px;
  }


  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 0.95em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .producto-cantidad {
    width: 10%;
    font-size: 1em;
    padding: 5px 0 5px 0;
  }

  

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.2em;
    width: 30px;
    height: 30px;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 90px;
    height: 90px;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 80px;
    margin-left: 9.5%;
  }
  


  .modal-content-deleteAllProducts {
    width: 60%;
  }

  .modal-content-noHayProductos {
    width: 80%;
  }
  
}

/* ==========================================================================
   RESOLUCION 0-479
   ========================================================================== */
@media (max-width: 524px) {
  body div.container-carrito {
    padding-top: 0;
  }

  .container-carrito h1.titulo {
  /* Display & Box Model */
    margin-top: 50px;
    margin-bottom: 10px;
  }


  .container-carrito div.productos-carrito {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-carrito .productos-carrito div.productos {
    width: 100%;
  }

  

  .formBorrarProducto {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tagsEspecificosDeProductos h3{
    font-size: 0.95em;
  }

  .btnBorrarProducto {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
  }

  .producto-cantidad {
    font-size: 1em;
    padding: 5px 0 5px 0;
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-carrito div.productos-carrito div.productos div.tagsEspecificosDeProductos{
    flex-direction: row; 
  }

  .container-carrito div.productos-carrito div.productos div.producto-carrito img.producto-imagen-carrito {
    width: 50%;
    height: 100%;
    margin: 10px 0px 10px 0px;
  }

  .container-carrito .producto-nombre {
    width: 50%;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .deleteProduct {
    font-size: 1.2em;
    width: 81%;
    border-radius: 8px;
    height: 30px;
  }

  .container-carrito .productos-carrito .productos .producto-carrito .estilo-letras-producto.producto-nombre {
    margin-bottom: 10px;
  }

  .producto-cantidad {
    width: 30%;
  }

  .container-carrito .producto-precio,
  .container-carrito .producto-precio-total {
    width: 100%;
  }

  .container-carrito .productos-carrito .productos hr.hr-carrito {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }


  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 15px;
  }

  /*RECUADRO TOTAL*/
  .container-carrito .productos-carrito .recuadro-total {
    width: 100%;
  }

  /*DIRECCION DEL RECUADRO*/
  .container-carrito
    .productos-carrito
    .recuadro-total
    .recuadro-total-chico
    .recuadro-carrito
    h4.direccion-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*SECCION CUPONES*/
  .container-carrito .cupones {
    margin-top: 0px;
  }

  .divPrecioCantidadSubtotalMobil {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
  }

  .divMobilPrecioCantidadTotal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .divTags {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .divTags h4 {
    margin: 0;
  }

  .divMobilPrecioCantidadTotal h4 {
    margin: 0;
    font-weight: 500;
  }

  .modal-content-deleteAllProducts {
    width: 80%;
  }

  .modal-content-noHayProductos {
    width: 85%;
  }
  
}
/* ==========================================================================
   RESOLUCION 0-400
   ========================================================================== */
@media (max-width: 400px) {

  .producto-cantidad {
    width: 45%;
  }

  .modal-content-noHayProductos {
    width: 80%;
  }

}

