.container-users {
  width: 80%;
  margin-left: 10%;
}

.container-users h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-right: 10px;
  word-break: break-all;
}

.container-users h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 50px;
}

.container-users .usuarios-listaCompleta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-users .usuarios-listaCompleta.usuario-lista-unica {
  justify-content: center;
}

.container-users .button-enteros {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  margin-top: 10px;
}

.container-users .button-enteros:hover {
  cursor: pointer;
}

.container-users .button-eliminar {
  background-color: red;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* MODAL ELIMINAR */
.modal-eliminar-usuario {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-eliminar-usuario {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animeEliminarUser;
  animation-duration: 0.5s
}

/* Add Animation */
@keyframes animeEliminarUser {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}






.container-users .invisible-eliminar-usuario p {
  text-align: center;
}

.container-users .button-modificar,
.container-users .input-button-cancel-delete {
  background-color: blue;
  margin-left: 10px;
  margin-bottom: 10px;
}

.container-users .container-input {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
}

.container-users .container-input input {
  border-radius: 7px;
}

.container-users .usuarios-lista {
  margin-bottom: 30px;
  width: 45%;
  border: 1px solid black;
  box-shadow: 3px 2px 2px #daa520;
  border-radius: 5px;
}

.container-users .eliminar-usuario-container {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .container-users .usuarios-listaCompleta {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .container-users .usuarios-lista {
    width: 100%;
  }
  .container-users .container-users {
    width: 100%;
    margin-left: 0px;
  }
}
