/* ==========================================================================
   RESET GENERAL
   ========================================================================== */
body {
  /* Display & Box Model */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* Otras */
  background-color: rgb(228, 228, 228);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.menu-suscripcion {
  display: flex;
  justify-content: space-evenly;
}


/* The Modal (background) */
.modal-miembro-ya-suscripto {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-miembro-ya-suscripto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animateModalYaSosMiembro;
  animation-duration: 0.75s
}

@keyframes animateModalYaSosMiembro {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close-miembro-ya-suscripto {
  color: #daa520;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-miembro-ya-suscripto:hover,
.close-miembro-ya-suscripto:focus {
  color: rgb(158, 42, 42);
  text-decoration: none;
  cursor: pointer;
}