<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub - Registro</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/styles.css'/>
</head>

<body>
	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER REGISTER -->
		<div class="login-register">

			<!-- TITULO -->
			<h1>Regístrate con tu Dirección Email</h1>
			
		
			<!-- FORMULARIO -->
			<form class="formulario" action="" method="">
				
			<!-- NOMBRE -->
			<div class="campo-input">
				<input class="input-registro" type="text" , id="nombre" placeholder="Nombre"> 
			</div>

			<!-- NOMBRE DE USUARIO -->
			<div class="campo-input">
				<input class="input-registro" type="text" , id="usuario" placeholder="Nombre de usuario">
			</div>

			<!-- MAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email" , id="email" placeholder="Email">
			</div>

			<!-- CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" , id="Contraseña" placeholder="Contraseña"> 
			</div>

			<!-- CONFIRMAR CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" , id=" confirmarContraseña" placeholder="Confirmar contraseña"> 
			</div>

			<!-- TERMINOS Y CONDICIONES -->
			<div class="terminos">
				<input type="checkbox" id="terminos-condiciones" name="termino-condiciones" value="terminos">
				<label for="terminos-condiciones">Acepto los <a href="#">Términos y Condiciones</a> de BierClub </label>
			</div>

			<!-- BOTON REGISTRARSE -->
			<div class="campo-input">
				<button class="input-button" type="submit" , id="registrar" , value="registrar"> Registrarse </button>
			</div>
			
			
			</form>
			
			<!-- INICIAR SESION -->
			<p class="iniciar-sesion">¿Ya sos cliente? <a href="/users/login">Inicia Sesión</a></p>
			
		</div>

	<!-- FOOTER -->
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>

</body>
</html>