<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Administrador de productos</title>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <header>
      <%- include('../partials/nav.ejs') %>
    </header>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  </body>
</html>
