<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Administrador de productos</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
  </head>

  <body>
    <header>
      <%- include('../partials/nav.ejs') %>
    </header>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  </body>
</html>
