<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Modificar producto</title>
    <link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/nav.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
  </head>

  <body>

    <header>
      <!-- NAV -->
      <%- include('../partials/nav.ejs') %>
    </header>

    <!-- ESPACIADO DESDE EL TOP DE LA PAGINA -->
    <div class="productAddtop"></div>

    <!-- CONTAINER PRODUCTADD -->
    <div class="productAdd">

      <!-- TITULO -->
      <h1>Modifique su producto</h1>

      <!-- FORMULARIO -->
      <form class="formulario-carga" action="" method="">

        <!-- BLOQUE DE IMAGEN, NOMBRE, PRECIO Y CANTIDAD -->
        <div class="flex-imgPrev-detalle">
          <div class="campo-nombre-precio-cantidad">

            <!-- NOMBRE -->
            <div class="nombre">
              <label for="nombreProducto">Nombre del producto:</label>
              <input id="nombreProducto" type="text" placeholder="Nombre">
            </div>
            
            <!-- PRECIO -->
            <div class="precio">
              <label for="precio">Precio:</label>
              <input id="precio" type="text" placeholder="Precio">
            </div>
            
            <!-- CANTIDAD -->
            <div class="cantidad">
              <label for="cantidad">Cantidad:</label>
              <input id="cantidad" type="text" placeholder="Cantidad">
            </div>
  
          </div>

          <!-- IMAGEN -->
          <div class="imagenPrev">
            <img src="/images/productos/producto-2.jpg" alt="muestra de producto">
          </div>
        </div>

        

        

        <!-- CATEGORIA -->
        <div class="flex-categoria-imgFile">

          <div class="categoria">
            <label for="categoria">Categoria:</label>
            <select class="select-categoria" name="categoria" id="categoria">
              <option value="cerveza">Cerveza</option>
              <option value="vino">Vino</option>
              <option value="licor">Licor</option>
              <option value="awa">Awa</option>
              <option value="pcGaymer">PC Gaymer</option>
            </select>
          </div>

          
        <!-- SUBIR IMAGEN -->
        <div class="imgFile">
          <input id="imagen" type="file" size="60">
        </div>

        </div>

        <!-- DESCRIPCION -->
        <textarea placeholder="Descripción del articulo" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
          <div class="flex-botones-publicar">
              <button class="btn-publicar" type="submit" , id="publicar" , value="publicar"> Publicar Cambios
              <button class="btn-publicar" type="submit" , id="publicar" , value="publicar">  Editar Producto
              <button class="btn-publicar btn-reset" type="reset" , id="reset" , value="reset"> Borrar Producto
          </div>
        
      </form>
    </div>
   
</body>
</html>
