<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Suscripción</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/__nav.css'/>
	<link rel="stylesheet" href="/stylesheets/suscripcion.css"/>
	<link rel="stylesheet" href="/stylesheets/styles.css"/>
	<link rel='stylesheet' href='/stylesheets/__footer.css'/>
	<script type="text/javascript" src="/js/suscripcion.js"></script>
</head>

<body>
	<header>
		<%- include('./partials/nav.ejs', userLogged) %>
	</header>
	
	<div class="productDetail suscripcion">

		<% if(typeof msgErrorYaSuscrito != "undefined") { %>
			<div class="modal-miembro-ya-suscripto">

				<!-- Modal content -->
				<div class="modal-content-miembro-ya-suscripto">
				  <span class="close-miembro-ya-suscripto"><i class="far fa-times-circle "></i></span>
				  <p style="text-align: center;"><%= msgErrorYaSuscrito %> </p>
				</div>
			  </div>
		<% } %> 
		
		<!-- SECCION DETALLE DEL PRODUCTO/IMAGEN -->
		<section class="seccion-producto">
	
		  <!-- IMAGEN-PREVIEWS -->
		  <div class="imagen-producto-previews">
			
			  <img class="imagen-previews" src="/images/suscripcion/prueba-2.jpg" alt="Imagenes de ">
			  <img class="imagen-previews" src="/images/suscripcion/prueba-3.jpg" alt="Imagenes de ">

		  </div>
		  
		  <!-- IMAGEN -->
		  <div class="imagen-producto">
			  <img class="imagen-producto-principal" src="/images/suscripcion/prueba-1.jpg" alt="">
		  </div>
	
		  <!-- DETALLE -->
		  <section class="detalle-producto">
  
			<!-- TITULO -->
			<div class="titulo-producto">
			  <h1>The U.S. Microbrewed Beer Clube</h1>
			  <p>Quality Craft Beers from America’s Best Brewers</p>
			</div>

			<div>
				<h3>$400 por Mes + 1 cerveza gratis</h3>
			</div>
	
			<!-- DESCRIPCION DE LA IMAGEN -->
			<div class="descripcion-producto">
				<p>Your membership will include:</p>
				<ul>
					<li>Twelve, 12 oz. hand-crafted beers each month from two different lightly distributed U.S. Microbreweries. You'll get four different beer styles, three of each style.</li>
					<li>Our Monthly Newsletter with detailed tasting notes, beer profiles, brewery histories, and suggested food pairings.</li>
					<li>FREE bartender's bottle opener with all orders of 3 shipments or more.</li>
					<li>No auto-renewal when you choose a fixed-duration between 2-12 shipments.</li>
				</ul>
			</div>
  
			<!-- COMPRAR AHORA -->
			<div class="comprarAhora">
				<form action="/buySuscription" method="POST">
					<button class="btn-comprarAhora" type="submit">¡Ser Miembro Ahora!</button>
				</form>
			</div>

		  </section>
		  
		</section>

		<section class="menu-suscripcion">
			<div>
				<p>productos relacionados</p>
			</div>
			<div>
				<p>Sobre la membrecia</p>
			</div>
			<div>
				<p>El regalo perfecto</p>
			</div>
			<div>
				<p>Que elegimos</p>
			</div>
		</section>

		<section class="">
			<h3>
				The U.S. Microbrewed Beer Club
			</h3>
			<p>
				The club that started it all back in 1994! Our original U.S. Microbrewed Beer Club is focused solely on finding the best American-brewed craft beers and delivering them to you or your gift recipient’s door each and every month. We bring you an impressive variety of styles, both within each monthly shipment as well as from month to month – including seasonal styles like summer ales, winter warmers, and Oktoberfest lagers. Every beer is brewed to order by our featured breweries for the ultimate in fresh-tasting American craft beer.

In addition, each shipment of our original U.S. Microbrewed Beer Club includes our Malt of the Earth newsletter profiling the people behind each brewery and their unique stories, as well as thorough tasting notes for each beer, recommended food pairings, beer specs (including style, malts & hops used, ABV, IBUs, etc.), and more!

Plus, all U.S. Microbrewed Beer Club members can re-order their favorite beers while supplies last – membership has its privileges!
			</p>
		</section>
			<h3>
				Our 5-Point, Quality-Driven Beer Selection Process Sets Us Apart
			</h3>
			<p>
				Our Beer Selection Process is the key to consistently delivering quality craft beers and what sets us apart from the rest. Here’s how we do it.
			</p>

			<ol>
				<li>
					<p>
						Our Beer Tasting Panel of Brewmasters has Over 100 Collective Years in the Brewing Industry
					</p>
					<p>
						Our experience ranges from judging at the Great American Beer Festival to heading brewing operations at BJ’s Brewhouse, a 100+ location brewpub chain. We’re knowledgeable and passionate about beer and we’ve got your back.
					</p>
				</li>
				<li>
					<p>We Rate and Drink a Lot of Bad Beer, So You Don’t Have To</p>
					<p>We rate over 500 beers each year on appearance, aromatic profile, body and balance, mouthfeel, finish, and of course, its overall character, flavor and appeal. Less than 20% of all beers we rate make the final cut.</p>
				</li>
				<li>
					<p>Our Panel Members Travel to Top Beer-Making Regions</p>
					<p>Our panel keeps busy attending, judging and submitting beers at prestigious festivals, creating collaborative beers with other microbreweries, meeting with brewers and importers, and most importantly, trying new beers.</p>
				</li>
				<li>
					<p>Strong Relationships with Breweries and Importers & Exclusive Selections</p>
					<p>Our 20+ year relationships with breweries and importers is critical to discovering outstanding new beers while they’re still hard to find. We help them launch new products and you get to try them first. Many beers are brewed exclusively for our club members and not available outside the club.</p>
				</li>
				<li>
					<p>Limited Production Seasonal Beers Throughout the Year</p>
					<p>We pay special attention to seasonal beers such as Dopplebocks, Bavarian Hefeweizens, Oktoberfests, and Spiced Winter Ales made in small production batches and brewed only once a year.</p>
				</li>
			</ol>
		<section>
			<p>For over 20 years now, we’ve offered memorable beer gifts perfect for the beer lovers in your life. With a beer club membership, your gift will be appreciated long after the first shipment arrives!</p>
			<h3>It’s Not Just Beer – It’s a Beer Experience!</h3>
			<p>Our goal is to make each beer gift membership a true “experience” gift: Excellent craft beers curated by our expert tasting panel, brewer profiles & brewery histories, detailed tasting notes from our tasting panel, recommended food pairings & glassware, and much more. Exploring the world of beer with our members has been our passion since 1994, and we can’t wait to share the fun of discovering great new beers with your gift recipients in the months to come!</p>
			<h3>Need a Last Minute Solution? – Send a Gift Announcement!</h3>
			<p>During checkout, you’ll have the option to schedule an email gift announcement for any date you choose, or create a PDF that you can print out and give to your gift recipient. It’s the perfect solution for those of you who are in panic mode! Just order your beer gift membership to start with the next available shipment, and email or print a gift announcement now!</p>
			<h3>100% Satisfaction Guaranteed</h3>
			<p>We take our 100% Satisfaction Guarantee seriously, and take pride offering responsive, care-driven customer service. So, sit back, relax, and let us handle everything. No searching stores, no waiting in lines, no wrapping boxes, no crowds – Let us do the work for you, delivering smiles to your gift recipient month after month!</p>
		</section>

		
	  </div>

	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>
</html>