<!DOCTYPE html>
<html lang="es">  
	<head>
		<title>BierClub - Iniciar Sesión</title>
		<%- include('../partials/head.ejs') %>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER LOGIN -->
		<div class="login-register">

			<!-- TITULO -->
			<div class="login-register-titulo">
				<h1>Contáctanos</h1>	
			</div>
		
			<!-- FORMULARIO -->
			<form class="formulario" action="/users/login" method="POST">
			
			<!-- NOMBRE -->
			<div class="campo-input">
				<input class="input-registro" type="text" id="nombre" name="nombre" placeholder="Nombre"> 
			</div>
	
			<!-- EMAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email" id="email" name="email" placeholder="Email">
			</div>

			<!-- Asunto -->
			<div class="campo-input">
				<input class="input-registro" type="email" id="asunto" name="asunto" placeholder="Asunto del mensaje">
			</div>		
			<div class="campo-input">
				<textarea placeholder="Escribe tu mensaje"></textarea>
			</div>
			
			<!-- BOTON ENVIAR -->
			<div class="campo-input">
				<button class="input-button" type="submit">Enviar mensaje</button>
			</div>
			</form>
		</div>
				<!-- FOOTER -->
				<footer class="login-footer">
					<%- include('../partials/footer.ejs') %>
				</footer>

</body>
</html>