<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub - Mi Perfil</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
    <link rel='stylesheet' href='/stylesheets/pedidos.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
	<script src="/js/perfil.js" type="text/javascript"></script>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
    <div class="container-pedidos">
        <h1>Mis pedidos</h1>
        <div class="pedidos-completo">
            <h3>Entrega Programada</h3>
            <div class="pedidos-individual">
                <img src="/images/productos/producto-2.jpg" alt="">
            </div>

        </div>
    </div>
	<!-- FOOTER -->
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>

</body>
</html>